<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<#include "/common/meta.html" />
<title>${pageTitle} - 表单</title>
<#include "/common/css.html" />
<#include "/common/js.html" />
<script src="${ctx}/static/js/kindeditor-4.1.10/kindeditor.js?${version}"></script>
<script src="${ctx}/static/js/kindeditor-4.1.10/lang/zh_CN.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/mailing.template.common.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/datasource.form.1.js?${version}"></script>
<script type="text/javascript">
	var K = null;
	var K1 = null;
	var eModel = 'WYSIWYG'; 
	var eModelPhone = 'WYSIWYG';
	
	var codeResource = null;
	var codeModel = "UTF8";
	var actionUrl = "";
	
	var rcmTempData = [
		<#list recommendMap?keys as k>
			<#list recommendMap[k] as t>
			{"id": ${t.templateId}, "title": "${xss.filter(t.templateName)}"}<#if t_has_next>,</#if>
			</#list>
		</#list>
	];
</script>
</head>
<body class="step">
	<#include "/top.html" />
	<div id="wrapper" class="clearfix ">
	<#include "/left.html" />
	<div id="main"  class="clearfix">
		<#assign input = "current" />
		<#assign num = "1" />
		<#include "/default/datasource/form.html" />
		<h1 class="title border_b"></h1>
		<div>
			<form id="add" action="1" method="post">
				<input type="hidden" name="token" value="${xss.filter(token)}" />
				<input type="hidden" name="formId" value="${form.formId}" />
				<h3 class='fm_title'>编辑表单界面，根据需要来设计界面背景和需要填写的属性项</h3>
				<table border="0" cellspacing="0" cellpadding="0" class="IE6_table m_t10">
					<tr class="fixed_tr">
						<td width="90"  align="right">设计方式：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<div>
								<div class="f_l">
									<ul class="btn btn_spe">
										<li><a href="javascript:openSysForm()" class="btn_icon btn_icon_uset">使用模板</a></li>
										<li><a href="javascript:open_msg('${ctx}/datasource/form/snatch?t=safety4', 0);" class="btn_icon btn_icon_web">抓取网页</a></li>
										<li><a href="javascript:open_msg('${ctx}/datasource/form/file?t=safety4', 0);" class="btn_icon btn_icon_imp">导入文件</a></li>							
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<tr class="ltrow">
	                    <td colspan="2">&nbsp;</td>
	                   	<td>
	                   		<label>设置表单界面的背景效果，提供以上三种快捷方式，或直接通过编辑器在线设计</label>
	                   	</td>
	           		</tr>
					<tr class="fixed_tr">
						<td width="90"  align="right">插入属性：</td>
						<td width="10" class="red">*</td>
						<td>
							<a class="a_select" id="insertForm" style="width:298px;" href="javascript:void(0)">插入属性</a>
						</td>
					</tr>
					<tr class="ltrow">
	                    <td colspan="2">&nbsp;</td>
	                   	<td>
	                   		<label>在编辑的界面上选择合适的位置，插入表单的填写项</label>
	                   	</td>
	           		</tr>
					<tr>
						<td width="90" align="right" valign="top">&nbsp;</td>
						<td width="10" class="red">&nbsp;</td>
						<td style="border:1px solid #aaa">
							<div class="ribbon clearfix">
								<ul class="btn f_r">
									<li style="margin-top:3px;*margin-top:1px;">
										<a id="workMode" class="a_select b_select" style="width:72px; line-height:22px;" href="javascript:void(0)">切换模式</a>
									</li>
								</ul>
							</div>
							<textarea class="textarea spe_area" id="templateContent" name="templateContent" style='width:100%; height:360px; border:none; padding:5px 0;'>${templateContent?default("请输入模板内容")}</textarea>
							<input type="hidden" name="editor" value="" />
						</td>
					</tr>
				</table>	
			</form>
		</div>
		
		<div class="step_foot">
			<div class="next_step clearfix">
				<div class="f_r">
					<input type="button" value="预览" class="input_no" onclick="preview()" />
					<input type="button" value="取消" class="input_no" onclick="openPop(0,0,'#confirmCancle')"  />
				</div>
				<div class="center">
					<input type="button" value="下一步" class="input_yes" id="tempSubmit"/>
					<span class="widthfix">
						<span class="load_img">
							<img src="/static/img/loading2.gif"/>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div id="transfer" style="display:none"></div> 
	<div class="select_div"></div>
	
	<div class="searchBox popBox" id="propWrap" style="display:none">
		<div class="limiter" style="width:318px">
			<div class="pop_content">
				<div class="props_result">
					<ul>
						<li>
							<label class='tt'><input type='checkbox' name='props' checked="checked" disabled="disabled" /><span data-prop='email'>邮箱</span></label>
							<label><input type='checkbox' name='required' checked="checked" disabled="disabled" />必填</label>
						</li>
						<#if propList?? && propList?size gt 0>
						<#list propList as p>
						<#if p.propName != "email">
						<li>
							<label class='tt'><input type='checkbox' name='props' /><span data-prop='${xss.filter(p.propName)}' data-type="${xss.filter(p.type)}" title="${xss.filter(view.prop_name(p.propName))}">${xss.filter(view.prop_name(p.propName))}</span></label>
							<label><input type='checkbox' name='required' />必填</label>
						</li>
						</#if>
						</#list>
						</#if>
					</ul>
				</div>
				<div class="oprate_pad">
					<p class="select_foot">
						<input class="input_yes" type="button" value="确定" onclick="createForm();" style='margin-bottom:5px;' />
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="popBox searchBox" id="templateRemind" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:730px;">
			<div class="pop_title">模板推荐</div>
			<div class="pop_content">
				<form id="recommend" action="${ctx}/datasource/form/recommend" method="post">
					<input type="hidden" name="token" value="${xss.filter(token)}" />
					<div class="choose_limiter">
						<input type="hidden" name="templateId" value="" />
						<div id="tempWrap" class="temp_item">
							<ul></ul>
						</div>
						<div class="temp_img">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
								<tr>
									<td width="100%" valign="middle" style="height:498px;">
										<img alt="模板" src="/static/img/template/nopic.jpg"/>
									</td>
								</tr>
							</table>											
						</div>		
					</div>
					<div class='cmt_wrap'>
						<input class='input_yes' type="submit" value='确定'/>&nbsp;&nbsp;<input class='input_no' type="button" value='取消' onclick="closeDialog()"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="popBox searchBox" id="confirmCancle" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:400px">
			<div class="pop_title">设计表单</div>
			<div class="pop_content">
				<div class="al_center">您确定取消当前操作吗？</div>
				<div class='cmt_wrap'>
					<input class='input_yes' type="button" value='确定' onclick="location.href='page';" />
					<input class='input_no' type="button" value='继续操作' onclick="closeDialog();" />
				</div>
			</div>
		</div>
	</div>
	
	<div class="popBox code_tips" id="codeTips" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:250px">
			<div class="pop_title">模板乱码了?点击<a class="highlight" href="javascript:changeTempCode();">切换编码</a>试试</div>
		</div>
	</div>
	
	<div class="popBox searchBox" id="remindParam" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:400px">
			<div class="pop_title">设计表单</div>
			<div class="pop_content">
				<div class="al_center">
					
				</div>
				<div class='cmt_wrap'>
					<input class='input_yes' type="button" value='确定' onclick="closeDialog();switchParam()" />
					<input class='input_no' type="button" value='继续提交' onclick="closeDialog();$('#add').submit()" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>
