<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<#include "/common/meta.html" />
<title>${pageTitle} - 密码</title>
<#include "/common/css.html" />
<#include "/common/js.html" />
<script type="text/javascript" src="${ctx}/static/js/account.password.js?${version}"></script>
</head>

<body>
<#include "top.html" />
<div id="wrapper" class="clearfix">
	<#include "left.html" />
	<div id="main" class="clearfix" style="">
		<h1 class="title border_b">密码&nbsp;&nbsp;<span>修改登录密码</span></h1>
		<form id="add" action="add" method="post">
			<input type="hidden" name="token" value="${token}" />
			<table border="0" cellspacing="0" cellpadding="0" class="IE6_table m_t20">
				<tr class="fixed_tr">
					<td width="98" align="right">原密码：</td>
					<td class="red" width="10">*</td>
					<td><input type="password" class="add_text" name="oldPassword" maxlength="18" /></td>
				</tr>
				<tr class="fixed_tr">
					<td align="right">新密码：</td>
					<td class="red" width="10">*</td>
					<td><input type="password" class="add_text" name="password" maxlength="18" /></td>
				</tr>
				<tr class="fixed_tr">
					<td align="right">重复密码：</td>
					<td class="red" width="10">*</td>
					<td><input type="password" class="add_text" name="passwordConfirm" maxlength="18" /></td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_table">
                <tr>
                    <td align="right" width="110">&nbsp;</td>
                    <td>
                        <ul class="f_ul">
                            <li><input class="input_yes" id="smt" type="submit" value="保存" /></li>
                           <li><input name="" type="reset" value="重置" class="input_no" /></li>
                        </ul>
                    </td>
                </tr>
            </table>
		</form>
	</div>
</div>
<div class="select_div"></div>
</body>
</html>