<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.edm.persistence.ApiTriggerMapper">
	
	<resultMap id="ApiTrigger" type="cn.edm.domain.ApiTrigger">
		<id column="triger_corp_id" property="triggerId"/>
		<result column="corp_id" property="corpId"/>
		<result column="user_id" property="userId"/>
		<result column="triger_name" property="triggerName"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<sql id="base_columns">
		triger_corp_id,corp_id,user_id,triger_name, status
	</sql>
	
	<insert id="insert" parameterType="cn.edm.domain.ApiTrigger">
		INSERT INTO triger_api(
			corp_id,
			user_id,
			triger_name,
			status
		)VALUES(
			#{corpId},
			#{userId},
			#{triggerName},
			#{status}
		)
		<selectKey resultType="java.lang.Integer" keyProperty="triggerId">
			select @@IDENTITY as triger_corp_id
		</selectKey>
	</insert>
	
	<select id="selectByCorpId" resultMap="ApiTrigger" parameterType="int">
		SELECT 
		<include refid="base_columns"/>
		FROM triger_api
		WHERE 
		corp_id = #{corpId}
		limit 1
	</select>
	
	<select id="selectTriggerName" resultType="string">
		SELECT 
		triger_name
		FROM triger_api
		WHERE 
		triger_name NOT IN ('注册验证','注册成功','订单确认','成功下单')
	</select>
	
	<update id="update" parameterType="cn.edm.domain.ApiTrigger">
		UPDATE 
			triger_api
		SET
			corp_id = #{corpId},
			user_id = #{userId},
			triger_name = #{triggerName},
			status = #{status}
		WHERE 
			triger_corp_id = #{triggerId}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete
			from triger_api
		where 
			triger_corp_id = #{triggerId}
	</delete>
	
	<select id="selectApiTriggersByCorpId" resultMap="ApiTrigger" parameterType="int">
		SELECT 
		<include refid="base_columns"/>
		FROM triger_api
		WHERE 
		corp_id = #{corpId} 
		order by triger_corp_id limit 1
	</select>
	<select id="selectByUserId" resultMap="ApiTrigger" parameterType="string">
		SELECT 
		<include refid="base_columns"/>
		FROM triger_api
		WHERE 
		user_id = #{userId}
	</select>
	
</mapper>


