@charset "utf-8";
/* CSS Document */
html{
	overflow-x: hidden;
	overflow-y: hidden;
}
body {
	font-size: 14px;
	line-height: 22px;
	font-family: "微软雅黑", "宋体",Arial, Helvetica, sans-serif;
	color: #272727;
}
* {
	margin: 0;
	padding: 0;
}
#nav li a,.tem_menu li a{_zoom:1}
a, img, .main_table input, .input_no, .input_yes, .checkbox,.checkbox2,.submit_btn,.search_but {
	outline: none;
}
table{
	border-collapse:collapse;
	*border-collapse:collapse;
    *empty-cells:show;
	_border-collapse:collapse;
    _empty-cells:show;
}
em{
	font-style:normal;
}
.IE6_table{
	width:100%;
	_width:98.6%;
	*width:98.6%;
}
.f_ul li {
	float: left;
	display:inline;
	margin-right: 10px;
}
.input_yes,.input_no{
	display: inline-block;
	line-height: 30px;
	height: 30px;
	border:none;
	cursor: pointer;
	width:90px;
	text-align:center;
}
.input_yes{
	background-color: #35A1EB;
	border: 1px solid #3182B9;
	background-image: linear-gradient(to top, #3B92CC, #4AA0DA 28%, #5BB0E9);
	box-shadow: 0 1px rgba(255, 255, 255, 0.19) inset;
	color: #fff;
}
.input_no{
	background-color: #bababa;
	border: 1px solid #a5a5a5;
	background-image: linear-gradient(to top, #bababa, #c0c0c0 28%, #cfcfcf);
	box-shadow: 0 1px rgba(255, 255, 255, 0.19) inset;
	color: #272727;
}

.input_yes:hover {
	background-color: #42AFFD;
	background-image: linear-gradient(to top, #3DB5F5, #7AD1FF);
	color:#fff;
}
.input_no:hover {
	background-color: #cfcfcf;
	background-image: linear-gradient(to top, #cfcfcf, #dfdfdf);
	color: #272727;
}
.input_set{
	display:inline-block;
	line-height: 28px;
	height: 28px;
	border:none;
	cursor: pointer;
	padding:0 15px;
	text-align:center;
	background-color: #BABABA;
	background-image: linear-gradient(to top, #bababa, #bbb 28%, #cfcfcf);
	box-shadow: 0 1px rgba(255, 255, 255, 0.19) inset;
	border: 1px solid #a5a5a5;
	margin-right:8px;
	text-align: center;
	vertical-align:middle;
}
.input_set:hover{
	background-color: #cfcfcf;
	background-image: linear-gradient(to top, #cfcfcf, #dfdfdf);
}
.add_set,.del_set {
	display:inline-block;
	line-height: 28px;
	height: 28px;
	border:none;
	cursor: pointer;
	width:25px;
	text-align:center;
	background: url(../img/addset.png) no-repeat center center;
	vertical-align: middle;
}
.del_set{
	background: url(../img/delset.png) no-repeat center center;
}
.add_set:hover,.del_set:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}

input {
	background-color: #f5f5f5;
	border: 1px solid #aaaaaa;
	line-height: 28px;
	height: 28px;
	padding: 0 5px;
	color: #272727;
	font-family: "微软雅黑";
	font-size:13px;
}
textarea {
	background-color: #f5f5f5;
	border: 1px solid #aaaaaa;
	line-height: 28px;
	padding: 5px;
	color: #272727;
	font-family: "微软雅黑";
	font-size:13px;
}
ul, li {
	list-style-type: none;
	display:block;
}
a {
	color: #494949;
	text-decoration: none;
}
a:hover {
	color: #2797E7;
	text-decoration: none;
}
.blue {
	color: #0072c6;
}
.red {
	color: #F00;
}
.green {
	color: #2797E7;
}
.green:hover {
	color: #2797E7;
}
.pd10{
	padding:10px
}
.f666 {
	color: #666;
}
.f999 {
	color: #999;
}
.no_display {
	display: none;
}
.yes_display {
	display: block;
}
.c_AD3100 {
	color: #AD3100;
}
.f_r {
	float: right;
}
.f_l {
	float: left;
}
.p_t10{
	padding-top:10px;
}
.wd150{
	width:150px;
}
.wd_long{
	width:332px;
}
.none{
	display:none;
}
.border_b {
	border-bottom: 1px solid #cccccc;
}
.icon {
	background-image: url(../img/icon.jpg);
	background-repeat: no-repeat;
}
.icon_money {
	background-position: -10px -252px;
}
.icon_lock {
	background-position: -10px -339px;
}
.icon_time {
	background-position: -10px -14px;
}
.icon_task {
	background-position: -10px -78px;
}
.icon_data {
	background-position: -10px -168px;
}
.icon_guid {
	background-position: -10px -424px;
}
.btn_icon {
	background-image: url(../img/btn_icon.png);
	background-repeat: no-repeat;
}
.btn_icon_add {
	background-position: 5px -8px;
}
.btn_icon_del {
	background-position: 3px -118px;
}
.btn_icon_up {
	background-position: 5px -169px;
}
.btn_icon_imp {
	background-position: 5px -224px;
}
.btn_icon_web {
	background-position: 5px -280px;
}
.btn_icon_down {
	background-position: 5px -391px;
}
.btn_icon_syst {
	background-position: 5px -449px;
}
.btn_icon_hist {
	background-position: 5px -512px;
}
.btn_icon_uset {
	background-position: 5px -568px;
}
.m_r30 {
	margin-right: 30px;
}
.m_r15 {
	margin-right: 15px;
}
.m_t20 {
	margin-top: 20px;
}
.m_t30 {
	margin-top: 30px;
}
.m_b10 {
	margin-bottom: 10px;
}
.m_b20 {
	margin-bottom: 20px;
}
.m_b40 {
	margin-bottom: 40px;
}
.m_t10 {
	margin-top: 10px;
}
.m_l10 {
	margin-left: 10px;
}
.m_l20 {
	margin-left: 20px;
}
.m_l5 {
	margin-left: 5px;
}
.m_r5 {
	margin-right: 5px;
}
.m20_0 {
	margin: 20px 0;
}
a.list_select {
	padding-right: 25px;
}
a.but_select, a.but_select:link, a.but_select:visited, a.but_select:active {
	display: inline-block;
	color: #272727;
	border: 1px solid #aaaaaa;
	height: 28px;
	line-height: 28px;
	padding: 0 25px 0 5px;
	background-color: #f5f5f5;
	background-image: url(../img/search_top.png);
	background-repeat: no-repeat;
	background-position: right 5px;
	overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
}
.a_select {
	background-image: url("../img/icon-down.gif");
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    border: 1px solid #aaa;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    padding: 0 15px 0 5px;
    text-align:left;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-break:keep-all;
    font-size:13px;
}
.b_select {
	height: 22px;
    line-height: 22px;
}
.select_div {
	display: none;
	position: absolute;
	background-color: #FFF;
	border: 1px solid #99a9ba;
 	*width:150px;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: hiddden;
	font-size: 12px;
	z-index:2;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.select_div li {
	padding: 0 10px;
	overflow: hidden;
	line-height: 24px;
	color: #414141;
	height: 25px;
}
.select_div li a {
	display: block;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}
.select_head,.select_foot{
	border-top:1px solid #99A9BA;
	padding:0 15px;
	line-height:28px;
	background-color:#f4f4f4;
	overflow: hidden;
	zoom:1;
}
.select_head{
	border:none;
}
.err {
	color: #c85305;
}

/*加载*/
.loading_bg {
	z-index: 999;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.load_img,.load_img_open{
	display:none;
	padding-top:5px;
}
li.load_img,li.load_img_open{
	display:none;
}
.load_img img,.load_img_open img{
	display:block;
	vertical-align:middle;
}
/*加载结束*/

#msg_bg,#msg_bg2 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10000;
	top: 0;
	left: 0;
	display: none;
	background-image: url(../img/open.png);
}
#msg_bg2{
	z-index: 111;
}
#msg {
	position: absolute;
	background-color: #FFF;
	width: 100%;
	padding: 20px 0 25px;
	z-index: 222;
	border-top: 2px solid #414141;
	border-bottom: 2px solid #414141;
}
.msg_content {
	width: 600px;
	margin: 0 auto;
	position: relative;
}
.msg_btn {
	float: right;
	margin-right: 100px;
}
.msg_ul li {
	line-height: 30px;
	color: #2e2e2e;
}
.msg_ul li.err{
	color:#C85305;
}
.msg_ul li.msg_tips{
	font-size:12px;
	color:#666;
}
.msg_ul li input {
	color: #666666;
}
.msg_btn li {
	float: left;
	display:inline;
	margin-left: 10px;
}
/*出错提示*/
#err_mess {
	position: absolute;
	font-size: 12px;
	display: none;
	border: 2px solid #000000;
	z-index: 999999;
}
#err_mess div {
	background-repeat: no-repeat;
	padding: 0 30px 0 50px;
	background-position: 20px center;
	line-height: 35px;
}
#err_mess div.err1 {
	background-image: url(../img/err1.jpg);
	background-color: #a0d22b;
}
#err_mess div.err2 {
	background-image: url(../img/err2.jpg);
	background-color: #fccd73;
}
#err_mess div.err10{
	background-color: #dcdcdc;
	background-image: url(../img/loading2.gif);
}
.error {
	line-height: 20px;
	color: #2e87aa;
	font-size: 12px;
	border: 1px solid #99a9ba;
	padding: 0 20px;
	background-color: #ccecf4;
}
/*出错提示结束*/
.user_table {
	line-height: 30px;
}
.user_table th,.user_table td{
	height:40px;
}
.acc_table th,.acc_table td{
	height:35px;
}
.add_text {
	width:350px;
}
.user_line {
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #e1dfdd;
	margin-bottom: 25px;
}
.checkbox {
	border: none;
	background: #FFF;
	height:30px;
	line-height:30px;
}
.checkbox2 {
	border: none;
	background: #dcdcdc;
	height:30px;
	line-height:30px;
}
label{
	vertical-align: middle;
	margin:0;
	padding:0;
	display:block;
	float:left;
	height:30px;
	line-height:30px;
}
.password{
	background-image: url(../img/password.jpg);
	background-repeat: no-repeat;
}
.clearfix{overflow:hidden;_zoom:1;}

/*common开始*/
.highlight{
	color:#2797E7;
}
.swtbtn{
	background-image: url("../img/search_top.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 20px;
    line-height:28px;
}
.swtclose {
    background-position: right 5px;
}
.swtpand{
	background-position: right -83px;
}
.d_arrow{
	background-image: url("../img/icon-down.gif");
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 20px;
    line-height:30px;
    background-position: right center;
}
.center{
	text-align: center;
}
.df_input{
	border:none;
	background:none;
	width:auto;
	height:auto;
	vertical-align:middle;
	line-height:normal;
}
.title2 {
    color: #272727;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    padding-left: 5px;
}
.msg_txt{
	width:490px;
}
.file_tank{
	position:relative;
	width:510px;
	text-align: right;
}
.fake_file{
	position:absolute;
	top:0;
	left:0;
	z-index:1
}
.fake_file .file_txt{
	vertical-align:middle;
	width:413px;
	float:left;
}
.fake_file .select_file {
    height:28px;
    line-height:28px;
    border:1px solid #aaa;
    border-left:none;
    text-align:center;
    width:72px;
    display:inline-block;
    float:left;
}
.file{
	margin-right:15px;
	position:relative;
	opacity: 0;
	filter:alpha(opacity=0);
	z-index: 2;
}
tr.mul_cate td{
	vertical-align: top;
	padding-top:5px;
	padding-bottom:5px;
	height:auto;
}
textarea.add_area{
	width:350px;
	padding:0 5px;
	overflow-y:auto;
	font-size:13px;
	line-height:25px;
	ime-mode:disabled; 
	resize:none;
	height:28px;
	line-height:28px;
}
textarea.rad_area{
	padding:0 15px 0 5px;
	background-color: #F5F5F5;
    background-image: url("../img/icon-down.gif");
    background-position: right center;
    background-repeat: no-repeat;
    text-align: left;
}
textarea.desc_area{
	height:18px;
	line-height:18px;
	overflow: hidden;
	font-size:13px;
	resize:none;
}
.posfix{
	position:relative;
}
.question{
	display:inline-block;
	padding-left:18px;
	background:url("../img/question.gif") no-repeat 0 center transparent;
}
.note_lab{
	font-size: 12px; 
	color: #A0A0A0;
}
.task_title{
	border-bottom:1px solid #eee;
	line-height: 30px;
}
.task_title strong{
	display:inline-block;
	padding:0 10px;
	background-color:#eee;
	color:#2797E7;
}

/*tips开始*/
.tips_trg{
	display:inline-block;
}
.slide_info{
	background:#FFFFFF;
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: default;
    display: none;
    font-size: 12px;
    position: absolute;
    min-width:100px;
	width:auto;
    color:#333;
}
.slide_info .content{
	padding:5px 0;
}
.slide_info .content p{
	text-align:center;
}
.slide_info .content h4{
	padding:0 10px 0;
	font-size:12px;
}
.slide_info .content h4+ul{
	padding-bottom:3px;
}
.slide_info .content h4 span{
	font-weight:normal;
}
.slide_info li{
	height: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 0 10px;
}
.global_tips{
	position:absolute;
	border:1px solid #666;
	background-color:#F8EDA4;
	line-height:1.5;
	padding:5px 10px;
	font-size:12px;
	color:#333;
	white-space:normal;
	word-break:break-all;
	z-index:100;
	display:none;
	border-radius:3px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	min-width:80px;
	max-width:280px;
}
.global_tips .content h4{
	font-size:12px;
}
.global_tips .content h4+ul{
	padding-bottom:5px;
}
.global_tips .content h4 span{
	font-weight:normal;
}

/*边框箭头表示*/
div.triangle-border,
div.triangle{
	width: 0;
    height: 0;
    position: absolute;
}
div.right-triangle-border {  
    border: 6px solid transparent;
    border-right: 6px solid #666;
    top: 4px;
    left: -13px;
}
div.right-triangle {
    border: 6px solid transparent;
    border-right: 6px solid #F8EDA4;
    top: -6px;
    left: -5px;
}
div.rightb-triangle-border {  /*右下*/
    border: 6px solid transparent;
    border-right: 6px solid #666;
    bottom: 4px;
    left: -13px;
}
div.rightb-triangle {
    border: 6px solid transparent;
    border-right: 6px solid #F8EDA4;
    bottom: -6px;
    left: -5px;
}
div.rightm-triangle-border {  /*右中*/
    border: 6px solid transparent;
    border-right: 6px solid #666;
    top: 50%;
    left: -13px;
    margin-top:-6px;
}
div.rightm-triangle {
    border: 6px solid transparent;
    border-right: 6px solid #F8EDA4;
    bottom: -6px;
    left: -5px;
}
div.top-triangle-border {
    border: 9px solid transparent;
    border-bottom: 9px solid #666;
    top: -18px;
    left: 12px;
}
div.top-triangle {
    border: 8px solid transparent;
    border-bottom: 8px solid #F8EDA4;
    top: -7px;
    right: -8px;
}
div.bottom-triangle-border {
    border: 8px solid transparent;
    border-top: 8px solid #666;
    bottom: -17px;
    left: 12px;
}
div.bottom-triangle {
    border: 8px solid transparent;
    border-top: 8px solid #F8EDA4;
    bottom: -7px;
    left: -8px;
}

/*菱形箭头表示*/
.slide_info .arrow {
	display:block;
	_display:none;
	position:absolute;
	overflow:hidden;
	height:20px;
	line-height: 20px;
}
.slide_info .arrow .out,.arrow .inside{ 
	font-family:黑体;
	font-weight:bold;
	font-size:14px; 
}
.slide_info .arrow .out{
	display:inline-block;
	overflow:hidden;
	color:#666;
}
.slide_info .arrow .inside{
	position:absolute;
	color:#fff;
}
.slide_info .aTopLeft{
	top:-10px;
	left:10px;
}
.slide_info .aTopRight{
	top:-10px;
	right:10px;
}
.slide_info .aTopLeft .inside,
.slide_info .aTopRight .inside{
	top:1px;
	left:0;
}
.slide_info .aBottomLeft{
	bottom:-10px;
	left:10px;
}
.slide_info .aBottomRight{
	bottom:-10px;
	right:10px;
}
.slide_info .aBottomLeft .inside,
.slide_info .aBottomRight .inside{
	bottom:1px;
	left:0;
}
.slide_info .aMiddleLeft{
	top:50%;
	left:-8px;
	margin-top:-10px;
}
.slide_info .aMiddleLeft .inside{
	left:1px;
	bottom:0;
}
.slide_info .aMiddleRight{
	top:50%;
	right:-8px;
	margin-top:-10px;
}
.slide_info .aMiddleRight .inside{
	right:1px;
	bottom:0;
}
/*tips结束*/

/*省略下拉处理*/
.moreInfo{
	width:100%;
	cursor:pointer;
}
.moreInfo .txt{
	max-width:90%;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.moreInfo .arrow{
	width:10%;
	overflow:hidden;
	text-align:center;
}
.searchBox li a.cookie{
	color:#7a77c8;
}


/*css3*/
input[type=button],input[type=submit],input[type=reset],span[class*=input_set]{
	border-radius:2px;
}
input::-ms-clear { display: none;}
input::-ms-reveal { display: none; }

input[type=text],input[type=password],textarea,.task_list,.a_select,.but_select{
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

/*去掉chorme历史记录背景色*/
input:-webkit-autofill {
	background-color: rgb(255, 255, 255);
	background-image: none;
}

