<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.edm.persistence.ResultMapper">
	
	<resultMap id="Result" type="cn.edm.domain.Result">
		<result column="corp_id" property="corpId"/>
		<result column="task_id " property="taskId"/>
		<result column="template_id" property="templateId"/>
		<result column="sent_count" property="sentCount"/>
		<result column="reach_count" property="reachCount" />
		<result column="read_count" property="readCount" />
		<result column="read_user_count" property="readUserCount" />
		<result column="click_count" property="clickCount" />
		<result column="click_user_count" property="clickUserCount" />
		<result column="unsubscribe_count" property="unsubscribeCount" />
		<result column="forward_count" property="forwardCount" />
		<result column="soft_bounce_count" property="softBounceCount" />
		<result column="hard_bounce_count" property="hardBounceCount" />
		<result column="none_exist_count" property="beforeNoneCount" />
		<result column="none_exist_count1" property="afterNoneCount" />
		<result column="dns_fail_count" property="dnsFailCount" />
		<result column="spam_garbage_count" property="spamGarbageCount" />
		<result column="begin_send_time" property="beginSendTime" />
		<result column="end_send_time" property="endSendTime" />
	</resultMap>
	
	<sql id="base_columns">
		r.corp_id corpId,r.task_id taskId,r.template_id templateId,r.sent_count,r.reach_count,r.read_count,
		r.read_user_count,r.click_count,r.click_user_count,r.unsubscribe_count,
		r.forward_count,r.soft_bounce_count,r.hard_bounce_count,r.none_exist_count,
		r.none_exist_count1,r.dns_fail_count,r.spam_garbage_count,r.begin_send_time,r.end_send_time
	</sql>
	
	<sql id="sum">
		sum(r.sent_count) sentCount,
		sum(r.reach_count) reachCount,
		sum(r.read_count) readCount,
		sum(r.read_user_count) readUserCount,
		sum(r.click_count) clickCount,
		sum(r.click_user_count) clickUserCount,
		sum(r.unsubscribe_count) unsubscribeCount,
		sum(r.forward_count) forwardCount,
		sum(r.soft_bounce_count) softBounceCount,
		sum(r.hard_bounce_count) hardBounceCount,
		sum(r.none_exist_count) beforeNoneCount,
		sum(r.none_exist_count1) afterNoneCount
	</sql>
	
	
	<sql id="where">
		where 1=1 
		<if test="corpId != null">
			AND r.corp_id = #{corpId}
		</if>
		<if test="taskId != null">
			AND r.task_id = #{taskId}
		</if>
		<if test="templateId != null">
			AND r.template_id = #{templateId}
		</if>
		<if test="taskIds != null">
			AND r.task_id in <foreach collection="taskIds" item="taskId" open="(" close=")" separator=",">#{taskId}</foreach>
		</if>
		<if test="userId != null">
			AND t.user_id like concat('%',#{userId},'%')
		</if>
		<if test="taskName != null">
			AND t.task_name like concat('%',#{taskName},'%')
		</if>
		<if test="type != null">
			AND t.type = #{type}
		</if>
		<if test="beginTimeStr != null">
			<![CDATA[
			AND	date_format(t.create_time, '%Y-%m-%d') >= date_format(#{beginTimeStr}, '%Y-%m-%d')
			]]>
		</if>
		<if test="endTimeStr != null">
			<![CDATA[
			AND	date_format(t.create_time, '%Y-%m-%d') <= date_format(#{endTimeStr}, '%Y-%m-%d')
			]]>
		</if>
		
		<if test="labelStatus != null">
			<choose>
				<when test="labelStatus == 0">
					AND (t.label_status = 0 or t.label_status is null)
				</when>
				<when test="labelStatus == 1">
					AND t.label_status = 1
				</when>
				<when test="labelStatus == 2">
					AND t.label_status = 2
				</when>
				<when test="labelStatus == 3">
					AND t.label_status = 3
				</when>
			</choose>
		</if>
		<if test="planCnd == 'isNull'">
			and t.plan_id is null
		</if>
		<if test="corpPath != null">
			AND c.corp_path like concat('%',#{corpPath},'%')
		</if>
	</sql>
	
	<select id="selectResultList" resultMap="Result" parameterType="map">
		SELECT 
		t.task_id taskId,
		t.task_name taskName,
		t.subject subject,
		t.plan_id planId,
		t.user_id userId,
		t.label_status labelStatus,
		t.task_status status,
		c.corp_path corpPath,
		t.create_time createTime,
		t.type taskType,
		(select count(*) from touch t2 where t2.parent_id = t.task_id) touchCount,
		<include refid="base_columns"/>
		FROM
		result r
		LEFT JOIN task t ON t.corp_id = r.corp_id AND t.task_id = r.task_id
		LEFT JOIN corp c on r.corp_id = c.corp_id
		<include refid="where"/>
		and t.plan_id is null
		order by t.modify_time desc
		<if test="startIndex != null and pageSize!=null">
			LIMIT #{startIndex}, #{pageSize}
		</if>
	</select>
	
	<select id="selectResultCount" resultType="long" parameterType="map">
		SELECT 
		COUNT(*)
		FROM
		result r
		LEFT JOIN task t ON t.corp_id = r.corp_id AND t.task_id = r.task_id
		LEFT  JOIN corp c on r.corp_id = c.corp_id
		<include refid="where"/>
		and t.plan_id is null
	</select>
	
	<select id="selectAll" resultMap="Result" parameterType="map">
		SELECT 
		t.task_id taskId,
		t.subject subject,
		t.task_name taskName,
		t.user_id userId,
		t.task_status status,
		t.delivery_time deliveryTime,
		t.create_time createTime,
		t.type taskType,
		(select c.company from corp c where c.corp_id = t.corp_id) companyName,
		<include refid="base_columns"/>
		FROM
		result r
		INNER JOIN task t ON t.corp_id = r.corp_id AND t.task_id = r.task_id
		<include refid="where"/>
	</select>
	
	<select id="selectByDomainStat" resultMap="Result" parameterType="map">
		SELECT 
		<include refid="sum"/>
		FROM
		result r
		<include refid="where"/>
	</select>
	
	<sql id="where_api">
		where 1=1 
		<if test="triggerName != null">
			AND ta.triger_name = #{triggerName}
		</if>
		<if test="userId != null">
			AND ta.user_id = #{userId}
		</if>
		<if test="userIdLike != null">
			AND ta.user_id like concat('%',#{userIdLike},'%')
		</if>
		<if test="corpId != null">
			AND tg.corp_id = #{corpId}
		</if>
		<if test="corpIds != null">
			AND tg.corp_id in <foreach collection="corpIds" item="corpId" open="(" close=")" separator=",">#{corpId}</foreach>
		</if>
		
		<if test="taskIds != null">
			AND tg.task_id in <foreach collection="taskIds" item="taskId" open="(" close=")" separator=",">#{taskId}</foreach>
		</if>
		
		<if test="taskName != null">
			AND tg.task_name like concat('%',#{taskName},'%')
		</if>
		<if test="beginTimeStr1 != null">
			<![CDATA[
			AND	date_format(tg.create_time, '%Y-%m-%d') >= date_format(#{beginTimeStr1}, '%Y-%m-%d')
			]]>
		</if>
		<if test="endTimeStr1 != null">
			<![CDATA[
			AND	date_format(tg.create_time, '%Y-%m-%d') <= date_format(#{endTimeStr1}, '%Y-%m-%d')
			]]>
		</if>
		<if test="type != null">
			AND t.type = #{type}
		</if>
		
		<if test="tidContactUid != null">
			AND CONCAT(tg.task_id, '_', ta.user_id) in <foreach collection="tidContactUid" item="tcu" open="(" close=")" separator=",">#{tcu}</foreach>
		</if>
		<if test="corpPath != null">
			AND c.corp_path  like concat('%',#{corpPath},'%')
		</if>
	</sql>
	
	<select id="selectApiTriggerSum" resultMap="Result" parameterType="map">
		SELECT 
		<include refid="sum"/>
		FROM
		result r
		INNER JOIN triger tg 
		ON tg.corp_id = r.corp_id 
		AND tg.task_id = r.task_id
		INNER JOIN triger_api ta 
		ON tg.corp_id = ta.triger_corp_id 
		<include refid="where_api"/>
	</select>
	
	<select id="selectApiTriggerByUserList" resultMap="Result" parameterType="map">
		SELECT 
		r.corp_id corpId,
		ta.user_id userId,
		ta.triger_name triggerName,
		<include refid="sum"/>
		FROM
		result r
		INNER JOIN triger tg 
		ON tg.corp_id = r.corp_id 
		AND tg.task_id = r.task_id
		INNER JOIN triger_api ta 
		ON tg.corp_id = ta.triger_corp_id 
		<include refid="where_api"/>
		group by r.corp_id
		limit #{startIndex}, #{pageSize}
	</select>
	
	<select id="selectApiTriggerByUserCount" resultType="long" parameterType="map">
		SELECT COUNT(*)
		from (
		SELECT 
		r.corp_id
		FROM
		result r
		INNER JOIN triger tg 
		ON tg.corp_id = r.corp_id 
		AND tg.task_id = r.task_id
		INNER JOIN triger_api ta 
		ON tg.corp_id = ta.triger_corp_id 
		<include refid="where_api"/>
		group by r.corp_id) c
	</select>
	
	<select id="selectApiByUserList" resultMap="Result" parameterType="map">
		SELECT 
		r.corp_id corpId,
		ta.user_id userId,
		ta.triger_name triggerName,
		<include refid="sum"/>
		FROM
		result r
		INNER JOIN triger tg 
		ON tg.corp_id = r.corp_id 
		AND tg.task_id = r.task_id
		INNER JOIN triger_api ta 
		ON tg.corp_id = ta.triger_corp_id 
		<include refid="where_api"/>
		group by r.corp_id
	</select>
	
	<select id="selectApiByTaskList" resultMap="Result" parameterType="map">
		SELECT 
		tg.task_id taskId,
		tg.subject subject,
		tg.task_name taskName,
		ta.user_id userId,
		tg.create_time createTime,
		ta.triger_name triggerName,
		<include refid="base_columns"/>
		FROM
		result r
		INNER JOIN triger tg ON tg.corp_id = r.corp_id AND tg.task_id = r.task_id
		INNER JOIN triger_api ta on tg.corp_id = ta.triger_corp_id
		<include refid="where_api"/>
		order by tg.create_time desc
		limit #{startIndex}, #{pageSize}
	</select>
	
	<select id="selectApiByTaskCount" resultType="long" parameterType="map">
		SELECT 
			COUNT(*)
		FROM
		result r
		INNER JOIN triger tg ON tg.corp_id = r.corp_id AND tg.task_id = r.task_id
		INNER JOIN triger_api ta on tg.corp_id = ta.triger_corp_id
		<include refid="where_api"/>
	</select>
	
	<select id="selectAllApi" resultMap="Result" parameterType="map">
		SELECT 
			tg.subject subject,
			tg.task_name taskName,
			tg.create_time createTime,
			ta.triger_name trigerName,
			ta.user_id userId,
			c.corp_path corpPath,
		<include refid="base_columns"/>
		FROM
		result r
		left join corp c on r.corp_id=c.corp_id 
		INNER JOIN triger tg ON tg.corp_id = r.corp_id AND tg.task_id = r.task_id
		INNER JOIN triger_api ta on tg.corp_id = ta.triger_corp_id
		<include refid="where_api"/>
		order by tg.create_time desc
		<if test="startIndex != null and pageSize!=null">
			LIMIT #{startIndex}, #{pageSize}
		</if>
	</select>
	<select id="selectAllApiCount" resultType="long" parameterType="map">
		SELECT 
			count(*)
		FROM
		result r 
		left join corp c on r.corp_id=c.corp_id 
		INNER JOIN triger tg ON tg.corp_id = r.corp_id AND tg.task_id = r.task_id
		INNER JOIN triger_api ta on tg.corp_id = ta.triger_corp_id
		<include refid="where_api"/>
	</select>
	
	<!-- 活动发送统计 -->
	<sql id="campaign_sum_sql">
		sum(my_temp.sent_count) sentCount,
		sum(my_temp.reach_count) reachCount,
		sum(my_temp.read_count) readCount,
		sum(my_temp.read_user_count) readUserCount,
		sum(my_temp.click_count) clickCount,
		sum(my_temp.click_user_count) clickUserCount,
		sum(my_temp.unsubscribe_count) unsubscribeCount,
		sum(my_temp.forward_count) forwardCount,
		sum(my_temp.soft_bounce_count) softBounceCount,
		sum(my_temp.hard_bounce_count) hardBounceCount,
		sum(my_temp.none_exist_count) beforeNoneCount,
		sum(my_temp.none_exist_count1) afterNoneCount,
		sum(my_temp.dns_fail_count) dnsFailCount,
		sum(my_temp.spam_garbage_count) spamGarbageCount
	</sql>
	
	<sql id="campaign_result_sql">
		t.task_id,
		t.campaign_id,
		r.sent_count,
		r.reach_count,
		r.read_count,
		r.read_user_count,
		r.click_count,
		r.click_user_count,
		r.unsubscribe_count,
		r.forward_count,
		r.soft_bounce_count,
		r.hard_bounce_count,
		r.none_exist_count,
		r.none_exist_count1,
		r.dns_fail_count,
		r.spam_garbage_count
	</sql>

	<select id="selectCampaignList" parameterType="java.util.Map" resultMap="Result">
		SELECT c.campaign_name campaignName,
			c.campaign_Id campaignId,
			my_temp2.taskNum taskNum,
			my_temp2.sentCount,
			my_temp2.reachCount,
			my_temp2.readCount,
			my_temp2.readUserCount,
			my_temp2.clickCount,
			my_temp2.clickUserCount,
			my_temp2.unsubscribeCount,
			my_temp2.forwardCount,
			my_temp2.softBounceCount,
			my_temp2.hardBounceCount,
			my_temp2.beforeNoneCount,
			my_temp2.afterNoneCount
		 from campaign c RIGHT JOIN
			(SELECT my_temp.campaign_id,COUNT(*) taskNum,
			<include refid="campaign_sum_sql"/>
			FROM
			(SELECT
				<include refid="campaign_result_sql"/>
			FROM
				task t
			RIGHT JOIN result r ON t.task_id = r.task_id AND t.corp_id=r.corp_id WHERE t.type in (0,4) AND t.task_status IN (26,27) AND t.campaign_id IS NOT NULL) my_temp
			GROUP BY campaign_id) my_temp2
		ON c.campaign_id=my_temp2.campaign_id
		<include refid="campaign_where"/>
		order by c.create_time desc
		LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<select id="selectCampaignCount" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(*) from campaign c RIGHT JOIN
			(SELECT my_temp.campaign_id,COUNT(*),
			<include refid="campaign_sum_sql"/>
			FROM
			(SELECT
				<include refid="campaign_result_sql"/>
			FROM
				task t
			RIGHT JOIN result r ON t.task_id = r.task_id AND t.corp_id=r.corp_id WHERE t.type in (0,4) AND t.task_status IN (26,27) AND t.campaign_id IS NOT NULL) my_temp
			GROUP BY campaign_id) my_temp2
		ON c.campaign_id=my_temp2.campaign_id
		<include refid="campaign_where"/>
	</select>
	
	<sql id="campaign_where">
		where 1=1 
		<if test="campaignName != null">
			AND c.campaign_name like concat('%',#{campaignName},'%')
		</if>
	</sql>
	
	<sql id="single_sum">
		sum(r.sent_count) sentCount,
		sum(r.reach_count) reachCount,
		sum(r.read_count) readCount,
		sum(r.read_user_count) readUserCount,
		sum(r.click_count) clickCount,
		sum(r.click_user_count) clickUserCount,
		sum(r.unsubscribe_count) unsubscribeCount,
		sum(r.forward_count) forwardCount,
		sum(r.soft_bounce_count) softBounceCount,
		sum(r.hard_bounce_count) hardBounceCount,
		sum(r.none_exist_count) beforeNoneCount,
		sum(r.none_exist_count1) afterNoneCount,
		sum(r.dns_fail_count) dnsFailCount,
		sum(r.spam_garbage_count) spamGarbageCount
	</sql>
	
<!-- 	<select id="selectCampaignSum" resultMap="Result" parameterType="java.lang.Integer"> -->
<!-- 		SELECT -->
<!-- 		<include refid="single_sum"/> -->
<!-- 		FROM result r -->
<!-- 		LEFT JOIN -->
<!-- 		task t -->
<!-- 		ON r.corp_id=t.corp_id -->
<!-- 		AND r.task_id=t.task_id -->
<!-- 		WHERE t.type in (0,4)  -->
<!-- 		AND t.campaign_id = #{campaignId} -->
<!-- 		AND t.task_status IN (26,27) -->
<!-- 	</select> -->
	
	
	<select id="selectCampaignResultList" parameterType="java.util.Map" resultMap="Result">
		SELECT
		t.campaign_id campaignId,
		t.task_name taskName,
		t.delivery_time deliveryTime,
		t.type taskType,
		<include refid="base_columns"/>
		FROM result r
		LEFT JOIN task t
		ON r.corp_id=t.corp_id AND r.task_id=t.task_id
		WHERE t.type in (0,4)
		AND t.task_status IN (26,27)
		AND t.campaign_id = #{campaignId}
		
		<if test="orderby != null">
			<if test="orderby=='deliveryTime'">
				ORDER BY t.delivery_time desc
			</if>
			<if test="orderby=='sentCount'">
				ORDER BY r.sent_count desc
			</if>
		</if>
		LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<select id="selectCampaignResultCount" parameterType="java.util.Map" resultType="long">
		SELECT
		COUNT(*)
		FROM result r
		LEFT JOIN task t
		ON r.corp_id=t.corp_id AND r.task_id=t.task_id
		WHERE t.type in (0,4)
		AND t.task_status IN (26,27)
		AND t.campaign_id = #{campaignId}
	</select>
	
	
	<select id="selectCampaignResult" parameterType="Integer" resultMap="Result">
		SELECT
		t.campaign_id campaignId,
		t.task_name taskName,
		t.delivery_time deliveryTime,
		t.type taskType,
		<include refid="base_columns"/>
		FROM result r
		LEFT JOIN task t
		ON r.corp_id=t.corp_id AND r.task_id=t.task_id
		WHERE t.type in (0,4)
		AND t.task_status IN (26,27)
		AND t.campaign_id = #{campaignId}
	</select>
	
	<sql id="selectCampaignRange_sql">
		IFNULL(sum(r.sent_count),0) sentCount,
		IFNULL(sum(r.reach_count),0) reachCount,
		IFNULL(sum(r.read_count),0) readCount,
		IFNULL(sum(r.read_user_count),0) readUserCount,
		IFNULL(sum(r.click_count),0) clickCount,
		IFNULL(sum(r.click_user_count),0) clickUserCount,
		IFNULL(sum(r.unsubscribe_count),0) unsubscribeCount,
		IFNULL(sum(r.forward_count),0) forwardCount,
		IFNULL(sum(r.soft_bounce_count),0) softBounceCount,
		IFNULL(sum(r.hard_bounce_count),0) hardBounceCount,
		IFNULL(sum(r.none_exist_count),0) beforeNoneCount,
		IFNULL(sum(r.none_exist_count1),0) afterNoneCount,
		IFNULL(sum(r.dns_fail_count),0) dnsFailCount,
		IFNULL(sum(r.spam_garbage_count),0) spamGarbageCount
	</sql>
	
	<sql id="selectCampaignRangeFrom">
		FROM result r
		LEFT JOIN
		task t
		ON r.corp_id=t.corp_id
		AND r.task_id=t.task_id
		WHERE t.type in (0,4) 
		AND t.task_status IN (26,27)
		AND t.campaign_id = #{campaignId}
	</sql>

	<select id="selectCampaignRange" resultMap="Result" parameterType="map">
		SELECT
		t.campaign_id campaignId,
		<include refid="selectCampaignRange_sql"/>
		<include refid="selectCampaignRangeFrom"/>
		<![CDATA[
		AND  DATE_FORMAT(t.delivery_time, '%Y-%m-%d %T') >= DATE_FORMAT(#{from}, '%Y-%m-%d %T')
		AND  DATE_FORMAT(t.delivery_time, '%Y-%m-%d %T') <= DATE_FORMAT(#{to}, '%Y-%m-%d %T')
		]]>
	</select>
	<!-- 周期任务 -->
	<select id="selectPlanTaskList" resultMap="Result" parameterType="java.util.Map">
		SELECT
			t.task_id taskId,
			t.plan_id planId,
			t.subject subject,
			t.task_name taskName,
			t.user_id userId,
			t.task_status status,
			t.delivery_time deliveryTime,
			t.create_time createTime,
			t.type taskType,
			(select c.company from corp c where c.corp_id = t.corp_id) companyName
		FROM
		task t
		<include refid="where_planTask"/>
		AND t.type = 2
		ORDER BY t.modify_time DESC
		<if test="startIndex != null and pageSize!=null">
			LIMIT #{startIndex}, #{pageSize}
		</if>
	</select>
	
	<select id="selectPlanTaskCount" resultType="long" parameterType="java.util.Map">
		SELECT
			COUNT(*)
		FROM
		task t
		<include refid="where_planTask"/>
	</select>
	
<!-- 	<select id="selectPlanResultList" resultMap="Result" parameterType="java.util.Map"> -->
<!-- 		SELECT -->
<!-- 			t.plan_id planId, -->
<!-- 			t.task_id taskId, -->
<!-- 			t.subject subject, -->
<!-- 			t.task_name taskName, -->
<!-- 			t.user_id userId, -->
<!-- 			t.task_status status, -->
<!-- 			t.delivery_time deliveryTime, -->
<!-- 			t.create_time createTime, -->
<!-- 			t.type taskType, -->
<!-- 			(select c.company from corp c where c.corp_id = t.corp_id) companyName, -->
<!-- 			<include refid="base_columns"/> -->
<!-- 		FROM -->
<!-- 			result r -->
<!-- 			LEFT JOIN task t ON t.corp_id = r.corp_id AND t.task_id = r.task_id -->
<!-- 			LEFT JOIN corp c on r.corp_id = c.corp_id -->
<!-- 		<include refid="where_planTask"/> -->
<!-- 		AND r.sent_count > 0 -->
<!-- 		ORDER BY t.delivery_time DESC -->
<!-- 		<if test="startIndex != null and pageSize!=null"> -->
<!-- 			LIMIT #{startIndex}, #{pageSize} -->
<!-- 		</if> -->
<!-- 	</select> -->
	
	<select id="selectPlanResultSumList" resultMap="Result" parameterType="java.util.Map">
		SELECT
			t.plan_id planId,
			t.task_id taskId,
			t.subject subject,
			t.task_name taskName,
			t.user_id userId,
			t.task_status status,
			t.delivery_time deliveryTime,
			t.create_time createTime,
			t.type taskType,
			(select c.company from corp c where c.corp_id = t.corp_id) companyName,
			<include refid="sum"/>
		FROM
			result r
			LEFT JOIN task t ON t.corp_id = r.corp_id AND t.task_id = r.task_id
			LEFT JOIN corp c on r.corp_id = c.corp_id
		<include refid="where_planTask"/>
		AND r.sent_count > 0
		GROUP BY t.plan_id
		ORDER BY t.delivery_time DESC
		<if test="startIndex != null and pageSize!=null">
			LIMIT #{startIndex}, #{pageSize}
		</if>
	</select>
	
	<select id="selectPlanResultSum" resultMap="Result" parameterType="java.util.Map">
		SELECT
			t.plan_id planId,
			t.task_id taskId,
			t.subject subject,
			t.task_name taskName,
			t.user_id userId,
			t.task_status status,
			t.delivery_time deliveryTime,
			t.create_time createTime,
			t.type taskType,
			(select c.company from corp c where c.corp_id = t.corp_id) companyName,
			<include refid="sum"/>
		FROM
			result r
			LEFT JOIN task t ON t.corp_id = r.corp_id AND t.task_id = r.task_id
			LEFT JOIN corp c on r.corp_id = c.corp_id
		<include refid="where_planTask"/>
		AND r.sent_count > 0
	</select>
	
	<select id="selectPlanTaskByPlanId" resultMap="Result" parameterType="java.util.Map">
		SELECT 
			t.task_id taskId,
			t.subject subject,
			t.task_name taskName,
			t.user_id userId,
			t.task_status status,
			t.delivery_time deliveryTime,
			t.create_time createTime,
			t.type taskType,
			(select c.company from corp c where c.corp_id = t.corp_id) companyName,
		<include refid="base_columns"/>
		FROM
		result r
		INNER JOIN task t ON t.corp_id = r.corp_id AND t.task_id = r.task_id
		<include refid="where_planTask"/>
		AND t.type != 2
	</select>
	
	<sql id="where_planTask">
		where 1=1
		<if test="taskName != null">
			AND t.task_name like concat('%',#{taskName},'%')
		</if>
		<if test="taskId != null">
			AND t.task_id = #{taskId}
		</if>
		<if test="planIds != null">
			AND t.plan_id in <foreach collection="planIds" item="pid" open="(" close=")" separator=",">#{pid}</foreach>
		</if>
		<if test="planId != null">
			AND t.plan_id = #{planId}
		</if>
		<if test="status != null">
			AND t.task_status in <foreach collection="status" item="sta" open="(" close=")" separator=",">#{sta}</foreach>
		</if>
		<if test="type != null">
			AND t.type = #{type}
		</if>
		AND t.plan_id IN (
			SELECT
				t2.plan_id
			FROM result r
			INNER JOIN task t2 ON t2.corp_id = r.corp_id AND t2.task_id = r.task_id
			WHERE t2.plan_id IS NOT NULL
			AND t2.type != 2
			GROUP BY t2.plan_id
		)
		AND t.plan_id IS NOT NULL 
	</sql>
	
	<select id="selectViewDeliveryTasksByCorpId" resultMap="Result" parameterType="java.util.Map">
		SELECT
			t.task_id taskId,
			t.plan_id planId,
			t.corp_id corpId,
			t.subject subject,
			t.task_name taskName,
			t.user_id userId,
			t.task_status status,
			t.delivery_time deliveryTime,
			t.create_time createTime,
			t.type taskType,
			(select c.company from corp c where c.corp_id = t.corp_id) companyName
		FROM
		view_delivery_task t
		<include refid="where_view"/>
		ORDER BY t.modify_time DESC
		<if test="pageSize != 0 and pageSize!=null and startIndex!=null">
			LIMIT #{startIndex}, #{pageSize}
		</if>
	</select>
	<select id="selectViewDeliveryTaskCount" resultType="long" parameterType="java.util.Map">
		SELECT
			count(*)
		FROM
		view_delivery_task t
		<include refid="where_view"/>
	</select>
	<sql id="where_view">
		where 1=1 
		<if test="taskName != null">
			AND t.task_name like concat('%',#{taskName},'%')
		</if>
		<if test="corpId != null">
			AND t.corp_id = #{corpId}
		</if>
		<if test="taskId != null">
			AND t.task_id = #{taskId}
		</if>
		<if test="taskIds != null">
			AND t.task_id in <foreach collection="taskIds" item="taskId" open="(" close=")" separator=",">#{taskId}</foreach>
		</if>
		<if test="type != null">
			AND t.type = #{type}
		</if>
		<if test="types != null">
			AND t.type in <foreach collection="types" item="type" open="(" close=")" separator=",">#{type}</foreach>
		</if>
		<if test="beginTimeStr != null">
			<![CDATA[
			AND	date_format(t.create_time, '%Y-%m-%d') >= date_format(#{beginTimeStr}, '%Y-%m-%d')
			]]>
		</if>
		<if test="endTimeStr != null">
			<![CDATA[
			AND	date_format(t.create_time, '%Y-%m-%d') <= date_format(#{endTimeStr}, '%Y-%m-%d')
			]]>
		</if>
		<if test="userId != null">
			AND t.user_id = #{userId}
		</if>
		<if test="userIdLike != null">
			AND t.user_id like concat('%',#{userIdLike},'%')
		</if>
	</sql>
	
	<!-- API群发 -->
	<select id="selectApiGroupsSum" resultMap="Result" parameterType="map">
		SELECT 
		<include refid="sum"/>
		FROM
		result r
		INNER JOIN task t on r.corp_id = t.corp_id and r.task_id = t.task_id
		<include refid="where_api_groups"/>
	</select>
	<select id="selectApiGroupsByUserList" resultMap="Result" parameterType="map">
		SELECT 
		r.corp_id corpId,
		t.user_id userId,
		t.label_status labelStatus,
		t.type taskType,
		<include refid="sum"/>
		FROM
		result r
		INNER JOIN task t on r.corp_id = t.corp_id and r.task_id = t.task_id
		<include refid="where_api_groups"/>
		GROUP BY t.corp_id
		order by t.create_time desc
		LIMIT #{startIndex}, #{pageSize}
	</select>
	<select id="selectApiGroupsByUserCount" resultType="long" parameterType="map">
		SELECT COUNT(*)
		from (
		SELECT 
		r.corp_id
		FROM
		result r
		INNER JOIN task t on r.corp_id = t.corp_id and r.task_id = t.task_id
		<include refid="where_api_groups"/>
		group by r.corp_id) c
	</select>
	<select id="selectApiGroupsByTaskList" resultMap="Result" parameterType="map">
		SELECT 
			t.task_id taskId,
			t.subject subject,
			t.task_name taskName,
			t.user_id userId,
			t.create_time createTime,
			t.label_status labelStatus,
			t.type taskType,
			c.corp_path corpPath,
		<include refid="base_columns"/>
		FROM
		result r 
		left join corp c on r.corp_id=c.corp_id 
		INNER JOIN task t on r.corp_id = t.corp_id and r.task_id = t.task_id
		<include refid="where_api_groups"/>
		order by t.create_time desc
		limit #{startIndex}, #{pageSize}
	</select>
	<select id="selectApiGroupsByTaskCount" resultType="long" parameterType="map">
		SELECT 
		COUNT(*)
		FROM
		result r 
		left join corp c on r.corp_id=c.corp_id 
		INNER JOIN task t on r.corp_id = t.corp_id and r.task_id = t.task_id
		<include refid="where_api_groups"/>
	</select>
	<sql id="where_api_groups">
		where 1=1 
		<if test="userId != null">
			AND t.user_id = #{userId}
		</if>
		<if test="userIdLike != null">
			AND t.user_id like concat('%',#{userIdLike},'%')
		</if>
		<if test="corpId != null">
			AND t.corp_id = #{corpId}
		</if>
		<if test="corpIds != null">
			AND t.corp_id in <foreach collection="corpIds" item="corpId" open="(" close=")" separator=",">#{corpId}</foreach>
		</if>
		
		<if test="taskIds != null">
			AND t.task_id in <foreach collection="taskIds" item="taskId" open="(" close=")" separator=",">#{taskId}</foreach>
		</if>
		
		<if test="taskName != null">
			AND t.task_name like concat('%',#{taskName},'%')
		</if>
		<if test="beginTimeStr != null">
			<![CDATA[
			AND	date_format(t.create_time, '%Y-%m-%d') >= date_format(#{beginTimeStr}, '%Y-%m-%d')
			]]>
		</if>
		<if test="endTimeStr != null">
			<![CDATA[
			AND	date_format(t.create_time, '%Y-%m-%d') <= date_format(#{endTimeStr}, '%Y-%m-%d')
			]]>
		</if>
		<if test="beginTimeStr1 != null">
			<![CDATA[
			AND	date_format(t.create_time, '%Y-%m-%d') >= date_format(#{beginTimeStr1}, '%Y-%m-%d')
			]]>
		</if>
		<if test="endTimeStr1 != null">
			<![CDATA[
			AND	date_format(t.create_time, '%Y-%m-%d') <= date_format(#{endTimeStr1}, '%Y-%m-%d')
			]]>
		</if>
		<if test="type != null">
			AND t.type = #{type}
		</if>
		<if test="labelStatus != null">
			<choose>
				<when test="labelStatus == '0'">
					AND (t.label_status = 0 or t.label_status is null)
				</when>
				<otherwise>
					AND t.label_status = #{labelStatus}
				</otherwise>
			</choose>
		</if>
		<if test="corpPath != null">
			AND c.corp_path like concat('%',#{corpPath},'%')
		</if>
	</sql>
	
	<select id="selectTouchResult" resultMap="Result" parameterType="map">
		SELECT 
			t.task_id taskId,
			t.task_name taskName,
			t.subject subject,
			t.task_status status,
			t.delivery_time deliveryTime,
			th.task_id touchId,
			(select count(*) from touch t2 where t2.parent_id = t.task_id) touchCount,
			<include refid="base_columns" />
		FROM
			touch th
		INNER JOIN result r ON r.task_id = th.task_id AND r.template_id = th.template_id and th.corp_id = r.corp_id
		INNER JOIN task t ON th.parent_id = t.task_id
			<include refid="where_touch"/>
	</select>
	<sql id="where_touch">
		<if test="corpId != null">
			AND th.corp_id = #{corpId}
		</if>
		<if test="userId != null">
			AND th.user_id = #{userId}
		</if>
		<if test="templateId != null">
			AND th.template_id = #{templateId}
		</if>
		<if test="templateIds != null">
			AND th.template_id = <foreach collection="templateIds" item="tempId" open="(" close=")" separator=",">#{tempId}</foreach>
		</if>
		<if test="taskId != null">
			AND th.task_id = #{taskId}
		</if>
	</sql>
	
</mapper>


