<script type="text/javascript" src="${ctx}/resources/script/common/jquery-1.7.1.min.js?${version}"></script>
<script type="text/javascript" src="${ctx}/resources/script/common/pagination.js?${version}"></script>
<script type="text/javascript" src="${ctx}/resources/script/common/common.js?${version}"></script>
<script type="text/javascript" src="${ctx}/resources/script/js/common/base.js?${version}"></script>
<script type="text/javascript" src="${ctx}/resources/script/common/jquery.validate.js?${version}"></script>
<script type="text/javascript" src="${ctx}/resources/Messagebox/Scripts/Jquery.L.Message.js?${version}"></script>
<script type="text/javascript" src="${ctx}/resources/script/common/My97DatePicker/WdatePicker.js?${version}"></script>
<script type="text/javascript" src="${ctx}/resources/script/common/select.js?${version}"></script>
<script type="text/javascript" src="${ctx}/resources/script/common/jquery.edm.search.js?${version}"></script>