<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<#assign sec=JspTaglibs["http://www.springframework.org/security/tags"] />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<#include "/common/meta.html" />
<title>${pageTitle} -　投递设置</title>
<#include "/common/css.html" />
<#include "/common/js.html" />
<script type="text/javascript" src="${ctx}/static/js/jquery/jquery-ui-1.8.18.custom.min.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/jquery/jquery-ui-timepicker-addon.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/mailing.task.common.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/step.3.js?${version}"></script>
<script type="text/javascript">
	var catedata = {
		<#list groupMap?keys as k>
		"${xss.filter(k)}": [
			<#list groupMap[k] as t>
			{"id": ${t.tagId}, "title": "${xss.filter(t.tagName)}（${t.emailCount}）", "count": ${t.emailCount}}<#if t_has_next>,</#if>
			</#list>
		]<#if k_has_next>,</#if>
		</#list>
	};
	
	var templateData = [
 	    <#list templateList as t>
 			{id: ${t.templateId}, title: "${xss.filter(t.templateName)}", subject: "${xss.filter(t.subject)}"}<#if t_has_next>,</#if>
 		</#list>
 	];
	var category_list = new Array([${category.categoryId}, "${xss.filter(category.categoryName)}"]);

	var bind_corp_list = [
	    <#if bindCorpList?? && bindCorpList?size gt 0>
			<#list bindCorpList as c>
				{"id":"${c.corpId}", "title":"${c.company}"}<#if c_has_next>,</#if>
			</#list>
		</#if>
	];

	var resource_list = [
   	    <#if resourceList?? && resourceList?size gt 0>
	   		<#list resourceList as r>
	   			{"id":"${r.resourceId}", "title":"${r.resourceName}"}<#if r_has_next>,</#if>
	   		</#list>
   		</#if>
   	];
	var sender_list = [
        <#if senderList?? && senderList?size gt 0>
	    	<#list senderList as s>
	    		{"id":"${s.senderEmail}","title":"${s.senderEmail}","info":"${s.senderName}"}<#if s_has_next>,</#if>
	    	</#list>
    	</#if>
    ];
       	
	<@sec.authorize ifAnyGranted="ROLE_BSN">
	var ass_prop = {
		<#list labelMap?keys as k>
		"${xss.filter(k)}": [
			<#list labelMap[k] as l>
			{"id": ${l.labelId}, "title": "${xss.filter(l.labelName)}", "info": "${xss.filter(k)}"}<#if l_has_next>,</#if>
			</#list>
		]<#if k_has_next>,</#if>
		</#list>
	}; 
	</@sec.authorize>
	
	var robotLimit = 5; /*限制个数*/
	var robot_list =  [
    	{"id": "-1", "title": "随机"}<#if robotList?? && robotList?size gt 0><#list robotList as r>,{"id": "${r.email}", "title": "${r.email}"}</#list></#if>
    ]; 
    
	var campaign_list = [
		<#if campaignList?? && campaignList?size gt 0>
			<#list campaignList as c>
			{"id":"${c.campaignId}", "title":"${xss.filter(c.campaignName)}"}<#if c_has_next>,</#if>
			</#list>
		</#if>
	];
	
	var receiver_list = [{"id":"email","title":"邮箱"},{"id":"email_pre","title":"邮箱前缀"},{"id":"true_name","title":"姓名"},{"id":"nick_name","title":"昵称"}];
	
	var cookieArr = $.parseJSON('${cookieArr}');
</script>
</head>

<#if setting.sendCode == "current">
	<#assign current_checked = "checked='checked'" />
	<#assign plan_disabled = "disabled" />
	<#assign plan_font = "f666" />
<#elseif setting.sendCode == "schedule">
	<#assign schedule_checked = "checked='checked'" />
	<#assign plan_disabled = "disabled" />
	<#assign plan_font = "f666" />
	<#assign time_css = "" />
	<#if task.jobTime??>
		<#assign jobTime = task.jobTime?datetime />
	</#if>
<#elseif setting.sendCode == "plan">
	<#assign plan_checked = "checked='checked'" />
	<#assign campaign_disabled = "disabled" />
	<#assign formal_disabled = "disabled" />
	<#assign formal_font = "f666" />
	<#assign plan_opt_css = "display: table-row;" />
</#if>

<#if !task.taskId??>
	<#assign current_checked = "checked='checked'" />
</#if>

<body class="step">
	<#include "/top.html" />
	<div id="wrapper" class="clearfix ">
	<#include "/left.html" />
	<div id="main"  class="clearfix">
		<div class="step_head">
			<ul class="progress progress3">
				<li>设计模板</li>
				<li>选择收件人</li>
				<li class="current">投递设置</li>
			</ul>
		</div>
		<h1 class="title border_b"></h1>
		<form id="add" action="3" method="post" autocomplete="off">
			<input type="hidden" name="token" value="${token}" />
			<input type="hidden" name="id" value="${step.id}" />
			<input type="hidden" name="taskId" value="${step.taskId}" />
			<input type="hidden" name="planId" value="${step.planId}" />
            <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="user_table  m_t10">
        		<tr>
        			<th align="left" colspan="3"><div class="task_title"><strong>邮件设置</strong></div></th>
        			<th colspan="1">&nbsp;</th>
        		</tr>
        		<tr>
                    <td width="100" align="right">任务名称：</td>
                    <td width="10" class="red">*</td>
                   	<td width="400">
                   		<input type="text" class="task_text" id="taskName" name="taskName" value="${xss.filter(task.taskName)}" maxlength="20"/>
                   		<input type="hidden" name="orgTaskName" value="${xss.filter(task.taskName)}" />
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		<tr>
                    <td width="100" align="right" class="${formal_font}">所属活动：</td>
                    <td width="10" class="red">&nbsp;</td>
                   	<td width="400">
                   		<textarea class="add_area rad_area" id="camp" style="width:370px;"></textarea>
						<input id="campId" type="hidden" name="campaignId" value="${task.campaignId}" />
                   	</td>
                   	<td>
                   		<span class="tips_trg">
                   			<span class="question"><a href="javascript:void(0)" class="highlight">活动有什么用途</a></span>
	                   		<span class="global_tips">
							当有多个投递任务同属于一个活动项目时，设置所属活动后，任务数据报告可自动汇总，并提供周、月、季度的对比报表，便于整体来分析活动的投递情况。						
							</span>
                   		</span>
                   	</td>
           		</tr>
        		<tr class="ltrow">
                    <td colspan="2"></td>
                   	<td width="400">
                   		<#assign ad_checked = "" />
                   		<#if setting.ad == "true">
                   			<#assign ad_checked = "checked='checked'" />
                   		</#if>
                   		<label><input type="checkbox" class="df_input" id="ad" name="ad" value="true" ${ad_checked} />&nbsp;自动在发出的邮件主题前增加AD字样（提升营销类邮件的送达率）</label>
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
            </table>
            <#if (!setting.robot?? || setting.robot == "") && (!setting.rand?? || setting.rand == "false") && (!setting.replier?? || setting.replier == "")>
            	<#assign opt_css = "display: none;" />
            	<#assign swt_css = "swtclose" />
            </#if>
            <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="user_table  m_t10">
        		<tr>
        			<th align="left" colspan="3"><div class="task_title"><strong>发件人设置</strong></div></th>
        			<th colspan="1">&nbsp;</th>
        		</tr>
        		<@sec.authorize ifAnyGranted="ROLE_BSN">
           		<tr>
                    <td width="100" align="right">所属企业：</td>
                    <td width="10" class="red">*</td>
                   	<td width="400">
                   		<textarea class="add_area rad_area" id="bind_corp_list" style="width:370px;" ></textarea>
                   		<input type="hidden" id="bindCorpId" name="bindCorpId" value="${task.bindCorpId}" />
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		<tr>
                    <td width="100" align="right">投递通道：</td>
                    <td width="10" class="red">*</td>
                   	<td width="400">
                   		<textarea class="add_area rad_area" id="resource_list" style="width:370px;" ></textarea>
                   		<input type="hidden" id="resourceId" name="resourceId" value="${task.resourceId}" />
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		</@sec.authorize>
           		<#if currentUser.senderValidate>
           		<tr>
                    <td width="100" align="right">发件人邮箱：</td>
                    <td width="10" class="red">*</td>
                   	<td width="400">
                   		<textarea class="add_area rad_area" id="sender_list" style="width:370px;" ></textarea>
                   		<input type="hidden" id="senderEmail" name="senderEmail" value="${xss.filter(task.senderEmail)}" />
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		<#else>
           		<tr>
                    <td width="100" align="right">发件人邮箱：</td>
                    <td width="10" class="red">*</td>
                   	<td width="400">
                   		<input id="senderEmail" class="task_text" type="text" maxlength="60" value="${xss.filter(task.senderEmail)}" name="senderEmail"/>
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		</#if>
        		<tr>
                    <td width="100" align="right">发件人昵称：</td>
                    <td></td>
                   	<td width="400">
                   		<input type="text" class="task_text" id="senderName" name="senderName" value="${xss.filter(task.senderName)}" maxlength="20" />
                   	</td>
                   	<td><a id="senderMore" class="swtbtn ${swt_css?default('swtpand')}" href="javascript:void(0)">高级选项</a></td>
           		</tr>
            </table>
            <table width="100%" id="advancedOption" border="0" cellspacing="0" cellpadding="0" class="user_table" style="${opt_css?default('display:block;')}">
           		<tr class="mul_cate">
                    <td width="100" align="right">网络发件人：</td>
                    <td width="10" class="red"></td>
                   	<td width="400">
                   		<textarea class="add_area rad_area" id="robot" style="height:28px;width:370px;"></textarea>
                   		<input type="hidden" id="robotId" name="robot" value="${xss.filter(setting.robot?default('-1'))}" />
                   	</td>
                   	<td>
                   		<span class="tips_trg">
                   			<span class="question"><a href="#" class="highlight">如何增设</a></span>
	                   		<span class="global_tips">
							为保障投递效果，账户开通时已为您设置了可用的网络发件人，若您需要增加其他网络发件人，请与技术支持联系service@mtarget.cn。							
							</span>
                   		</span>
                   	</td>
           		</tr>
           		<tr class="ltrow">
                    <td colspan="2"></td>
                   	<td width="400">
                   		<#assign rand_checked = "" />
			       		<#if setting.rand == "true">
			       			<#assign rand_checked = "checked='checked'" />
			       		</#if>
                   		<label><input type="checkbox" class="df_input" id="rand" name="rand" value="true" ${rand_checked} />&nbsp;加入随机数</label>
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		<tr>
                    <td width="100" align="right">回复邮箱：</td>
                    <td></td>
                   	<td width="400">
                   		<input type="text" class="task_text" id="replier" name="replier" value="${xss.filter(setting.replier)}" maxlength="64"/>
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
            </table>
             <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="user_table  m_t20">
        		<tr>
        			<th align="left" colspan="3"><div class="task_title"><strong>收件人设置</strong></div></th>
        			<th colspan="1">&nbsp;</th>
        		</tr>
           		<tr>
                    <td width="100" align="right">收件人昵称：</td>
                    <td width="10" class="red"></td>
                   	<td width="400">
                   		<textarea class="add_area rad_area" id="receiver_list" readonly style="height:28px;width:370px;"></textarea>
                   		<input type="hidden" id="receiver" name="receiver" value="${xss.filter(task.receiver?default('email'))}" />
                   	</td>
                   	<td>&nbsp;</td>
           		</tr> 		
           		<tr>
                    <td width="100" align="right">退订设置：</td>
                    <td width="10" class="red"></td>
                   	<td width="400">
                   		<textarea class="add_area rad_area" id="unsubscribe" name="unsubscribe" style="width:370px;"></textarea>
                   		<input type="hidden" id="unsubscribeId" name="unsubscribeId" value="${setting.unsubscribeId}" />
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		<tr class="ltrow">
                    <td colspan="2"></td>
                   	<td width="400"><span style="font-size: 12px; color: #A0A0A0;">收到此邮件的用户点击退订后自动添加到设置的退订标签下</span></td>
                   	<td>&nbsp;</td>
           		</tr>
            </table>
            <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="user_table m_t10">
        		<tr>
        			<th align="left" colspan="3"><div class="task_title"><strong>发送设置</strong></div></th>
        			<th colspan="1">&nbsp;</th>
        		</tr>
        		<tr>
                    <td width="100" align="right" valign="top">发送方式：</td>
                    <td width="10" class="red" valign="top">*</td>
                   	<td width="400">
                   		<div class="clearfix ${formal_font?default('')}">
							<label><input type="radio" class="df_input" name="sendCode" value="current" ${current_checked} ${formal_disabled} />&nbsp;实时发送&nbsp;&nbsp;</label>
						</div>
                   		<div class="clearfix ${formal_font?default('')}">
							<label><input type="radio" class="df_input" name="sendCode" value="schedule" ${schedule_checked} ${formal_disabled} />&nbsp;定时发送&nbsp;&nbsp;</label>
                   			<input type="text" class="time a_select" id="jobTime" name="jobTime" value="${jobTime}" maxlength="20" style="margin-left:20px; ${time_css?default('display: none;')}" />
						</div>
                   		<div class="clearfix ${plan_font?default('')}">
							<label><input type="radio" class="df_input" name="sendCode" value="plan" ${plan_checked} ${plan_disabled} />&nbsp;周期发送&nbsp;&nbsp;</label>
						</div>
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		<tr id="periodOption" class="none" style="${plan_opt_css?default('display: none;')}">
           			<td width="100" align="right">&nbsp;</td>
                    <td width="10" class="red">&nbsp;</td>
                   	<td colspan="2">
                   		<div class="period_box clearfix">
                   			<#assign arr = plan.cron?default("")?split(" ") />
                   			<#if arr?size == 5>
                   				<#assign mm = arr[0]/>
                   				<#assign HH = arr[1]/>
                   				<#assign dd = arr[2]/>
                   				<#assign e = arr[3]/>
                   				<#assign MM = arr[4]/>
                   				<#if mm?length lt 2><#assign mm = "0" + mm /></#if>
                   				<#if HH?length lt 2><#assign HH = "0" + HH /></#if>
                   			</#if>
                   			<#if dd?? && dd != "*">
                   				<#assign planType = "month" />
	                   			<#if dd == "-1"><#assign dd = "last_day" /></#if>
	                   		</#if>
                   			<#if e?? && e != "*">
                   				<#assign planType = "week" />
                   				<#if e == "1,2,3,4,5"><#assign e = "work_day" />
                   				<#elseif e == "6,7"><#assign e = "holiday" />
                   				</#if>
                   			</#if>
                   			<#if MM?? && MM == "*" && e?? && e == "*" && dd?? && dd == "*"><#assign planType = "day" /></#if>
                   			<dl class="clearfix">
								<dd>
									周期设置：
									<a id="period_list" class="a_select cycle_wd">选择周期</a>
									<input id="periodId" type="hidden" value="${planType}" name="planType" />
								</dd>
								<dd class="pad day_pad">
									<a id="day_hour_list" class="a_select cycle_wd">选择时间点</a>
									<input id="dayHourId" type="hidden" value="${HH}:${mm}" name="day_HHmm" />
								</dd>
								<dd class="pad week_pad">
									<a id="week_day_list" class="a_select cycle_wd">选择星期</a>
									<input id="weekDayId" type="hidden" value="${e}" name="week_dd" />&nbsp;
									<a id="week_hour_list" class="a_select cycle_wd">选择时间点</a>
									<input id="weekHourId" type="hidden" value="${HH}:${mm}" name="week_HHmm" />
								</dd>
								<dd class="pad month_pad">
									<a id="month_day_list" class="a_select cycle_wd">选择日期</a>
									<input id="monthDayId" type="hidden" value="${dd}" name="month_dd" />&nbsp;
									<a id="month_hour_list" class="a_select cycle_wd">选择时间点</a>
									<input id="monthHourId" type="hidden" value="${HH}:${mm}" name="month_HHmm" />
								</dd>
							</dl>
							<#if plan.beginTime??><#assign beginTime = plan.beginTime?date /></#if>
							<#if plan.endTime??><#assign endTime = plan.endTime?date /></#if>
							<dl class="clearfix">
								<dt>
									有效期限： 
									<input id="beginTime" class="date" type="text" maxlength="10" value="${beginTime}" name="beginTime" readonly="readonly" placeholder="开始日期" />
								</dt>
								<dt><em>至</em></dt>
								<dt>
									<input id="endTime" class="date" type="text" maxlength="10" value="${endTime}" name="endTime" readonly="readonly" placeholder="结束日期" />
								</dt>
							</dl>
						</div>
                   	</td> 	
           		</tr>
           		<#if openSms>
           		<tr>
                    <td width="100" align="right">短信通知：</td>
                    <td width="10" class="red">*</td>
                   	<td width="400">
                   		<a class="a_select" id="sms_list" style="width:370px"></a>
                   		<input type="hidden" id="sms" name="sms" value="${setting.sms}" />
                   	</td>
                   	<td>&nbsp;</td>
           		</tr>
           		</#if>
            </table>
            <@sec.authorize ifAnyGranted="ROLE_BSN">
	            <#if hrCatalogShow="true">
		            <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="user_table  m_t20">
		        		<tr>
		        			<th align="left" colspan="3"><div class="task_title"><strong>属性库设置</strong></div></th>
		        			<th colspan="1">&nbsp;</th>
		        		</tr>
		        		<tr class="mul_cate">
		                    <td width="100" align="right">关联属性：</td>
		                    <td width="10" class="red">&nbsp;</td>
		                   	<td width="400">
		                   		<textarea id="assProp" class="add_area" style="height:28px; width:380px; margin-bottom:5px;"></textarea>
		                   		<input type="hidden" id="assPropId" name="labelIds" value="${setting.labelIds}" />     		         		
		                   	</td>
		                   	<td>
		                   		<span id="propSet" class="input_set">设置</span>
		                   	</td>
		           		</tr>
		            </table>
	            </#if>
            </@sec.authorize>
            <div class="step_foot">
			<div class="next_step clearfix">
				<div class="f_r">	
					<input type="button" value="上一步" class="input_no" onclick="_2()"/>
					<input type="button" value="取消" class="input_no" onclick="openPop(0,0,'#confirmCancle')"/>
				</div>
				<div class="center">
					<input type="hidden" name="templateId" value="${step.templateId}" />
					<input type="hidden" name="subject" value="${step.subject}" />
					<input type="button" value="测试发送" class="input_yes" onclick="open_msg('/mailing/task/test?action=step', 0)"/>
					<input type="submit" value="正式发送" class="input_yes"/>
					<input type="button" value="保存草稿" class="input_yes" onclick="gotoDrafted()"/>
					<span class="widthfix">
						<span class="load_img">
							<img src="/static/img/loading2.gif"/>
						</span>
					</span>
				</div>
			</div>
		</div>
        </form>
	</div>
	</div>
	<div class="searchBox" id="slideSearch" style="display:none">
		<div class="limiter" style="width:390px">
			<div class="pop_content">
				<div class="search_box"><input type="text" class="search_input placehold" placeholder="输入搜索关键字" /></div>
				<div class="search_result"></div>
			</div>
		</div>
	</div>
	<div class="searchBox" id="slideSearch2" style="display:none">
		<div class="limiter" style="width:390px">
			<div class="pop_content">
				<div class="search_box"><input type="text" class="search_input placehold" placeholder="输入搜索关键字" /></div>
				<div class="search_result"></div>
				<div class="oprate_pad">
					<p class="select_foot"><a class="highlight f_l" href="javascript:open_msg('${ctx}/datasource/tag/add?action=task&categoryId=${category.categoryId}',0);">新建退订标签</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="searchBox searchHoriz" id="slideSearchProp" style="display:none">
		<div class="limiter" style="width:390px">
			<div class="pop_content">
				<div class="search_result"></div>
			</div>
		</div>
	</div>
	<div class="popBox searchBox" id="confirmCancle" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:400px">
			<div class="pop_title">投递设置</div>
			<div class="pop_content">
				<div class="al_center">您确定取消当前操作吗？</div>
				<div class='cmt_wrap'>
					<input class='input_yes' type="button" value='确定' onclick="location.href='/';" />
					<input class='input_no' type="button" value='继续操作' onclick="closeDialog();" />
				</div>
			</div>
		</div>
	</div>
	
	<div class="popBox searchBox" id="draftedRemind" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:400px">
			<div class="pop_title">投递设置</div>
			<div class="pop_content">
				<div class="al_center">收件人数据需要在下次投递时重新选择，确定保存草稿吗？</div>
				<div class='cmt_wrap'>
					<input class='input_yes' type="button" value='确定' onclick="drafted()" />
					<input class='input_no' type="button" value='取消' onclick="closeDialog();" />
				</div>
			</div>
		</div>
	</div>
	<div class="searchBox" id="slideSearch5" style="display:none">
		<div class="limiter" style="width:390px">
			<div class="pop_content">
				<div class="search_result"></div>
			</div>
		</div>
	</div>
	<div class="searchBox" id="slideSearchSender" style="display:none">
		<div class="limiter" style="width:390px">
			<div class="pop_content">
				<div class="search_box"><input type="text" class="search_input placehold" placeholder="输入搜索关键字" /></div>
				<div class="search_result"></div>
				<div class="oprate_pad">
					<p class="select_foot">
						<a class="highlight f_l" href="javascript:open_msg('/account/sender/add?action=task',0);">增加发件人</a>
						<a class="highlight f_r" href="javascript:reloadSender();">刷新</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="select_div"></div>
</body>
</html>
