<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册激活欢迎信</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto;font-size:12px;font-family: 宋体;border: 1px solid #23B5D7;" bgcolor="#FFFFFF">
  <tr>
    <td class="draggable_div" >

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="公司LOGO" >
  <tr>
    <td align="right"  style="padding:20px 20px 0px 20px"><a href="" target="_blank"><img src="http://139edm.com/10/images/logo.png" alt="logo" width="125" height="42" style="border:none" /></a></td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="注册按钮">
  <tr>
    <td style="padding:0 25px 0 25px;">
   		<h1 style="font-family: 微软雅黑; font-size:24px; color:#000; line-height:30px; margin:0; padding:0; text-align:center;">欢迎您加入PARTY！</h1>
        <a href="http://" target="_blank" style="font-family: 微软雅黑; font-size:16px; color:#fff; text-decoration: none;line-height:37px; margin:20px auto; padding:0; display:block; width:275px; height:38px; text-align:center; background-color:#EF715D">点击此按钮激活您的账户</a>
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="亲爱的客户" >
  <tr>
    <td style="padding:25px;">
   	<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0">亲爱的客户：</h1>
    <p style="font-family: 宋体; font-size:12px; color:#666; line-height:22px;margin:5px 0 0 0; padding:0">
    此处致欢迎词，欢迎成为您的新客户。可以适当加入您的产品和服务前景描述，增强用户信心和好感度。<br>
	用户ID号码是:<span style="color:#EF715D;font-weight: bold;">愤怒的小鸟</span><br>
	<span style="color:#000">添加用户登录的链接，例如：<a href="http://www.mtargeting.com/" target="_blank">www.mtargeting.com</a></span>
    </p>
 
    </td>
  </tr>
</table>

</td>
</tr>



<tr>
<td>

<table width="100%" border="0" cellpadding="0" cellspacing="0"  >
  <tr>
    <td valign="top" width="289" class="draggable_div"  style="padding:10px 0 15px 20px;" >
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td>
   	<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0">其他相关产品和服务推广1</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:20px; margin:0; padding:0">
    强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。
    </p>
    </td>
  </tr>
</table>

</td>
<td width="30"></td>
    <td valign="top"  width="289" class="draggable_div"  style="padding:10px 20px 15px 0" >

<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td>
   	<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0;">其他相关产品和服务推广1</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:20px; margin:0; padding:0">
    强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。
    </p>
    </td>
  </tr>
</table>
    
    </td>
  </tr>
</table>

</td>
</tr>


<tr>
    <td class="draggable_div" >
    
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="版本信息" bgcolor="#23B5D7" style="border-top: 6px solid #D2D2D2;">
  <tr>
    <td width="120" valign="top" style="padding:15px 0 15px 20px;">
   		<img src="http://139edm.com/10/images/foot_img2.png" alt="订单" width="107" height="77" />
    </td>
    <td style="padding:15px 20px 15px 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#fff; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>

</td>
  </tr>    
</table>




</body>
</html>
