<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>情人节</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto; border: 1px solid #D6C284; font-size:12px;font-family: 宋体;" bgcolor="#FFFFFF">
  <tr>
    <td class="draggable_div">
    
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="情人节Banner">
  <tr>
    <td>
    <img src="http://139edm.com/11/images/banner.png" width="648" height="232" alt="情人节Banner" />
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="公司内容" style="margin-bottom:20px;">
  <tr>
    <td style="padding:20px 15px  20px 25px; ">
   		<h1 style="font-family: 微软雅黑; font-size:16px; color:#000; line-height:30px; margin:0; padding:0">添加您的祝福语</h1>
        <p style="font-family: 宋体; font-size:12px; color:#666; line-height:20px;margin:0; padding:0">向您的客户和朋友表示诚挚的节日祝福，感谢他们2011年对公司产品的支持，携手共创，并且通过佳节宣传您的推广活动！可以加入您的最新动态，客户分享，前景展望，想客户展示一个美好的前景。</p>
    </td>
    
    <td width="165" valign="middle" style="padding:20px 25px 20px 0; ">
   		<a href="http://" target="_blank" style="font-family: 微软雅黑; font-size:16px; color:#fff; text-decoration: none;line-height:37px; margin:0; padding:0; display:block; width:165px; height:38px; text-align:center; background-color:#EF715D">更多精彩活动</a>
    </td>
    
  </tr>
</table>



    
<table width="100%" border="0" cellpadding="0" cellspacing="0"  >
  <tr>
    <td valign="top" width="180" class="draggable_div"  style="padding-left:25px;" >
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>

</td>
<td width="29"></td>
    <td valign="top"  width="180" class="draggable_div" >

<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>    
    </td>
  <td width="29"></td>
  <td valign="top"  width="180" class="draggable_div" style="padding-right:25px;">
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>
    
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="关于我们" >
  <tr>
    <td style="padding:25px 25px 15px 25px;" >
   		<h2 style="font-family: 微软雅黑; font-size:16px; color:#000; line-height:25px; margin:0; padding:0">签名</h2>
		<h2 style="font-family: 微软雅黑; font-size:16px; color:#000; line-height:25px; margin:0; padding:0">公司名称</h2>
        <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px;  margin:2px 0 0 0; padding:0">
        建议此处添加公司联系人及公司名称,便于客户了解此祝福来源！<br>
		您可以在此加入您公司其它商品或者服务的链接。链接：<a href="http://www.mtargeting.com" target="_blank" style="color:#000">www.mtargeting.com</a>
        </p>
    </td>
  </tr>
</table>



<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="优惠信息"  bgcolor="#BC9E83">
  <tr>
    <td width="120" style="padding:10px 0px 15px 25px;">
   		<img src="http://139edm.com/11/images/foot_img2.png" alt="情人节" width="100" height="85" />
    </td>
    <td style="padding:10px 25px 15px 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>


</td>
  </tr>    
</table>





</body>
</html>
