<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新年快乐</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto; border: 3px solid #C29300;font-size:12px;font-family: 宋体;" bgcolor="#FFFFFF">
  <tr>
    <td class="draggable_div">
    
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="新年Banner">
  <tr>
    <td>
    <img src="http://139edm.com/14/images/banner.png" width="644" height="282" alt="新年Banner" />
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="祝福语">
  <tr>
    <td style="padding:20px;">
   		<h1 style="font-family: 微软雅黑; font-size:16px; color:#A51A00; line-height:20px; margin:0; padding:0">添加您的祝福语：</h1>
        <p style="font-family: 宋体; font-size:12px; color:#666; line-height:18px;">向您的客户和朋友表示诚挚的新春节日祝福，感谢他们2011年对公司产品的支持，携手共创，并且通过佳节宣传您的推广活动！</p>
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="公司内容"  bgcolor="#C8C8C8">
  <tr>
    <td style="padding:20px;">
   		<h2 style="font-family: 微软雅黑; font-size:16px; color:#000; line-height:20px; margin:0; padding:0">签名</h2>
		<h2 style="font-family: 微软雅黑; font-size:16px; color:#000; line-height:20px; margin:0; padding:0">公司名称</h2>
        <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px;  margin:10px 0 0 0; padding:0">建议此处添加公司联系人及公司名称,便于客户了解此祝福来源！</p>
    </td>
  </tr>
</table>

</td>
  </tr>    
</table>


<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:10px auto 0 auto;">
  <tr>
    <td class="draggable_div">



<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="优惠信息" bgcolor="#FFFFFF" style="border: 3px dashed #CB9B07;">
  <tr>
    <td width="180" style="padding:20px 0 20px 20px;">
   		<img src="http://139edm.com/14/images/foot_img2.png" alt="恭贺新禧" width="164" height="64" />
    </td>
    <td style="padding:20px 20px 20px 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#7B7B7B; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>


</td>
  </tr>    
</table>


</body>
</html>
