<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>生日祝福</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto;font-size:12px;font-family: 宋体;;border: 1px solid #8E5B54;">
  <tr>
    <td class="draggable_div"  >

<table width="100%" border="0" cellpadding="0" cellspacing="0"  class="draggable" title="生日快乐Banner" >
  <tr>
    <td align="center"><img src="http://139edm.com/16/images/banner.png" alt="生日快乐" width="636" height="147" style="border:none" /></td>
  </tr>
</table>


</td>
</tr>

  <tr>
    <td class="draggable_div"   bordercolor="#fff" style="background-color: #fff;" >
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="祝福词" >
  <tr>
    <td valign="top" style="padding:40px 25px 25px 25px;">
   		<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:0">亲爱的客户：</h1>
        <p style="font-family: 宋体; font-size:12px; color:#717071; line-height:18px;margin:5px 0 0 0; padding:0">
      	此处致祝福词，祝福客户生日快乐！表达您对客户的感谢。 
        </p>
    </td>
  </tr>
</table>
</td>
</tr>

<tr>
<td>

<table width="100%" border="0" cellpadding="0" cellspacing="0"  >
  <tr>
    <td valign="top" width="289" class="draggable_div"  style="padding:10px 0 15px 20px;" >
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td>
   	<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0">其他相关产品和服务推广1</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:20px; margin:0; padding:0">
    强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。
    </p>
    </td>
  </tr>
</table>

</td>
<td width="30"></td>
    <td valign="top"  width="289" class="draggable_div"  style="padding:10px 20px 15px 0" >

<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td>
   	<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0;">其他相关产品和服务推广1</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:20px; margin:0; padding:0">
    强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。
    </p>
    </td>
  </tr>
</table>
    
    </td>
  </tr>
</table>

</td>
</tr>


<tr>
<td>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="关于我们"  >
  <tr>
    <td style="padding:0px 20px 25px 20px;">
    <h1 style="font-weight: normal;font-family: 宋体; font-size:14px; color:#fff; line-height:26px; margin:0; padding:0 0 0 20px; background-color:#8E5B54;">关于我们</h1>
   	<p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px;margin:0; padding:20px 0">您可以在本版块加入公司的简介和表示感谢的结束语。</p>
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">签名</h1>
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">公司名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px;margin:0; padding:5px 0 0 0">
    此处建议加入联系人的姓名，公司名称。（您可以通过左边菜单栏的"公司属性"添加功能，插入命令，系统将在生成邮件时自动把您注册时的联系人姓名，公司名称等属性显示在您插入命令的位置）
    </p>

    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="版本信息" style="border-top:3px solid #D2D2D2;" bgcolor="#522E28"  >
  <tr>
    <td width="120" valign="bottom" style="padding:20px 0 20px 20px;">
   		<img src="http://139edm.com/16/images/foot_img2.png" alt="生日快乐" width="107" height="76" />
    </td>
    <td style="padding:20px 20px 20px 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#B4B4B4; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>

</td>
</tr>
  
</table>




</body>
</html>
