<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>特惠</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto;">
  <tr>
    <td class="draggable_div">
    
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="draggable" title="活动主标题" style="font-size:12px;font-family: 宋体;height:195px;background-repeat: no-repeat;background-position: -1px top; padding:0;" background="http://139edm.com/2/images/banner.png" bgcolor="#FFFFFF">
  <tr>
    <td valign="top" style="padding:2px 10px 0 0px">
    <h1 style="font-weight: normal;font-family: 微软雅黑; text-align:right; font-size:18px; color:#FED59E; line-height:25px; margin:0; padding:0;">此处输入活动相关信息</h1>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding:0px 0 0 110px">
    <h1 style="font-family: 微软雅黑; font-size:36px; color:#850A01; line-height:45px; margin:0; padding:0;">请输入活动主标题</h1>
    <h2 style="font-weight: normal;font-family: 微软雅黑; font-size:18px; color:#850A01; line-height:23px; margin:0; padding:0;">相关副标题</h2>
    </td>
  </tr>
</table>
</td>
</tr>
</table>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto; border: 3px solid #A50D02; border-top:none; font-size:12px;font-family: 宋体;" bgcolor="#FFFFFF">
  <tr>
    <td class="draggable_div" bgcolor="#FFFFFF">


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="标题1">
  <tr>
    <td style="padding:10px 20px 15px 20px;" >
   		<h2 style="font-family: 宋体; font-size:14px; color:#000; line-height:26px; font-weight: normal;margin:0; padding:0 10px; background-color:#AA8F4E">标题</h2>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0"  >
  <tr>
    <td valign="top" width="180" class="draggable_div"  style="padding-left:25px;" >
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>

</td>
<td width="29"></td>
    <td valign="top"  width="180" class="draggable_div" >

<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>    
    </td>
  <td width="29"></td>
  <td valign="top"  width="180" class="draggable_div" style="padding-right:25px;">
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>
    
    </td>
  </tr>
</table>



<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="标题2">
  <tr>
    <td style="padding:10px 20px 15px 20px;" >
   		<h2 style="font-family: 宋体; font-size:14px; color:#000; line-height:26px; font-weight: normal;margin:0; padding:0 10px; background-color:#AA8F4E">标题2</h2>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0"   >
  <tr>
    <td valign="top" width="180" class="draggable_div"  style="padding-left:25px;" >
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>

</td>
<td width="29"></td>
    <td valign="top"  width="180" class="draggable_div" >

<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>    
    </td>
  <td width="29"></td>
  <td valign="top"  width="180" class="draggable_div" style="padding-right:25px;">
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td align="center">
    <img src="http://139edm.com/11/images/pe_img.png" alt="产品1" width="180" height="150" />
    </td>
  </tr>
  <tr>
    <td>
    <h1 style="font-family: 宋体; font-size:14px; color:#000; line-height:18px; margin:0; padding:10px 0 0 0; text-align:center;font-weight: normal;">促销活动名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0">强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。</p>
    <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:10px 0 0 45px;">
    原价： 100.00元<br>
    现价： 90.00元<br>
    节价： 10.00元
    </p>

    </td>
  </tr>
</table>
    
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="关于我们"  bgcolor="#F9F2E3">
  <tr>
    <td style="padding:10px 20px 15px 20px;" >
   		<h2 style="font-family: 宋体; font-size:14px; color:#000; line-height:26px; font-weight: normal;margin:0; padding:0 10px; background-color:#AA8F4E">关于我们</h2>
    	<p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px; margin:0; padding:20px 0">您可以在本版块加入公司的简介和表示感谢的结束语。</p>
   		<h2 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">签名</h2>
		<h2 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">公司名称</h2>
        <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px;  margin:2px 0 0 0; padding:0">此处建议加入联系人的姓名，公司名称。（您可以通过左边菜单栏的"公司属性"添加功能，插入命令，系统将在生成邮件时自动把您注册时的联系人姓名，公司名称等属性显示在您插入命令的位置）</p>
    </td>
  </tr>
</table>



</td>
  </tr>    
</table>


<table width="650" border="0" align="center" cellpadding="0" cellspacing="0"  style="width:650px; margin:0 auto;" >
  <tr>
  <td class="draggable_div"> 

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="draggable" title="信息" bgcolor="#E8B564" style="border: 3px dashed #A50D02;font-size:12px;font-family: 宋体;" >
  <tr>
    <td width="90" style="padding:10px 0px 15px 20px;">
   		<img src="http://139edm.com/2/images/foot_img2.png" alt="福" width="70" height="85" />
    </td>
    <td style="padding:10px 20px 15px 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>

</td>
</tr>
</table>

</body>
</html>
