<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员关怀</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto;font-size:12px;font-family: 宋体;;border: 3px solid #8FC320;">
  <tr>
    <td class="draggable_div"  >

<table width="100%" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td align="center"><img src="http://139edm.com/17/images/top.png" alt="头部图片" width="643" height="10" style="border:none" /></td>
  </tr>
</table>


</td>
</tr>

  <tr>
    <td class="draggable_div"  >

<table width="100%" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td valign="top" style="padding:40px 0 0 25px;"><h1 style="font-family: 微软雅黑; font-size:24px; color:#000; line-height:30px; margin:0; padding:0">欢迎您再次光临！</h1></td>
    <td align="right" valign="top" style="padding:40px 25px 0 0;"><img src="http://139edm.com/8/images/logo.png" alt="LOGO" width="102" height="30"  style="border:none" /></td>
  </tr>
</table>


</td>
</tr>

  <tr>
    <td class="draggable_div"  bordercolor="#fff" >
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="用户信息" >
  <tr>
    <td valign="top" style="padding:20px 25px 25px 25px;">
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0; font-weight:bold;">亲爱的客户：</h1>
        <p style="font-family: 宋体; font-size:12px; color:#717071; line-height:20px;margin:10px 0 0 0; padding:0">
      	此处致欢迎词，欢迎您的客户再次光临。可以适当加入您的产品和服务前景描述，增强用户信心和好感度。 
        </p>
         <p style="font-family: 宋体; font-size:12px; color:#717071; line-height:20px;margin:0; padding:0">
      	用户ID号码是:<span style="color:#ff7800; font-weight:bold;">愤怒的小鸟</span> 
        </p>
         <p style="font-family: 宋体; font-size:12px; color:#000; line-height:20px;margin:0px 0 0 0; padding:0">
      	添加用户登录的链接，例如：<a href="http://www.mtargeting.com" target="_blank">www.mtargeting.com</a> 
        </p>
        
        <a a href="http://" target="_blank" style="font-family: 微软雅黑; font-size:18px; color:#fff; text-decoration: none;line-height:35px; margin:20px 0; padding:0; display:block; width:170px; height:35px; text-align:center; background-color:#ff7800">其它相关连接</a>
    </td>
  </tr>
</table>

</td>
</tr>

<tr>
<td>

<table width="100%" border="0" cellpadding="0" cellspacing="0"  >
  <tr>
    <td valign="top" width="289" class="draggable_div"  style="padding:10px 0 15px 20px;" >
<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td>
   	<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0">其他相关产品和服务推广1</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:20px; margin:0; padding:0">
    强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。
    </p>
    </td>
  </tr>
</table>

</td>
<td width="30"></td>
    <td valign="top"  width="289" class="draggable_div"  style="padding:10px 20px 15px 0" >

<table border="0" cellpadding="0" cellspacing="0" class="draggable" title="产品内容">
  <tr>
    <td>
   	<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0;">其他相关产品和服务推广1</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:20px; margin:0; padding:0">
    强调促销，描述特别优惠、有买有送等。您可以添加一个"详细了解"的链接到您的网站，可以在报告中了解点击率。
    </p>
    </td>
  </tr>
</table>
    
    </td>
  </tr>
</table>

</td>
</tr>
  
</table>


<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto; margin-top:10px;">
  <tr>
    <td class="draggable_div"  >
    
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="版本信息" bgcolor="#B0D367" style="font-size:12px;font-family: 宋体;border:3px dashed #686868;">
  <tr>
    <td width="100" valign="bottom" style="padding:20px 0 20px 20px;">
   		<img src="http://139edm.com/17/images/foot_img2.png" alt="通知" width="82" height="73" />
    </td>
    <td style="padding:20px 20px 20px 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#000; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>
</td>
</tr>
</table>

</body>
</html>
