<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>电子期刊2</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto;font-size:12px;font-family: 宋体;;border: 1px solid #262626;">
  <tr>
    <td class="draggable_div"  bgcolor="#D7D7D7" >
    
 <table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="期刊标题" bgcolor="#262626" style="padding:0; margin:0;" >
  <tr>
    <td align="left"  style="padding-left:10px;">
    <h1 style="font-family: 宋体; font-size:14px; color:#EDEDED; line-height:26px; margin:0; padding:0;">期刊号</h1>
    </td>
    <td align="right"  style="padding-right:10px;">
    <p style="font-weight: normal;font-family: 宋体; font-size:12px; color:#EDEDED; line-height:26px; margin:0; padding:0;">此处填写日期</p>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="电子期刊Banner" style="height:163px;background-repeat: no-repeat;background-position: center top; padding:0; margin:0;" background="http://139edm.com/5/images/banner.png">
  <tr>
    <td valign="top" style="padding:30px 0 0 350px">
    <h1 style="font-weight: normal;font-family: 微软雅黑; font-size:36px; color:#fff; line-height:45px; margin:0; padding:0;">主标题</h1>
    <h2 style="font-weight: normal;font-family: 微软雅黑; font-size:18px; color:#fff; line-height:23px; margin:0; padding:0;">引人思考的副标题</h2>
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="亲爱的客户"  >
  <tr>
    <td align="left" valign="top"  style="padding:20px 0px 0 25px">
    <h1 style="normal;font-family: 微软雅黑; font-size:16px; color:#414141; line-height:32px; margin:0; padding:0;">亲爱的客户</h1>
    <p style="font-weight: normal;font-family: 宋体; font-size:12px; color:#595757; line-height:26px; margin:0; padding:0;">
    定期把您的客户有可能关心的内容发送给他们，增强品牌传播力度和认知度。<br>
	您可以在此处添加关于您公司的介绍或者说明。您也可以考虑加入公司负责人的致辞，还可以插入与公司相关的图片，全方面展示您的公司。
    </p>
    </td>
    <td align="right" valign="top" style="padding:20px 25px 0 0px" width="220" >
<a href="" target="_blank"><img src="http://139edm.com/5/images/pe.png" alt="产品图片" width="180" height="150" style="border:none" /></a>
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="期刊标题（内容1）"  >
    <tr>
    <td align="center" valign="middle" style="padding:20px 25px 0 25px;"  colspan="2">
	<img src="5/images/link.png" alt="分隔线" width="591" height="2" style="border:none;" />
    </td>
  </tr>
  <tr>
      <td align="left" valign="top" style="padding:20px 0px 0 25px" width="220" >
<a href="" target="_blank"><img src="http://139edm.com/5/images/pe.png" alt="产品图片" width="180" height="150" style="border:none" /></a>
    </td>
    <td align="left" valign="top"  style="padding:20px 25px 0 0px">
    <h1 style="normal;font-family: 微软雅黑; font-size:16px; color:#414141; line-height:32px; margin:0; padding:0;">期刊标题（内容1）</h1>
    <p style="font-weight: normal;font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0;  padding:10px 0 0 0;">
    在此处编写邮件正文（可通过一些经典案列或其他用户成功使用的例子说明和推广您的产品和服务）。您可以邀请您的客户编写一些他们使用产品和服务的感受，全面展示和推介您的产品。<br>
	</p>
    <p style="font-weight: normal;font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0;">
	建议在结尾添加一个"更多精彩阅读"的链接到您的网站（此链接可被跟踪记录，可以在报告中了解点击率。
	</p>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="期刊标题（内容2）"  >
    <tr>
    <td align="center" valign="middle" style="padding:20px 25px 0 25px;"  colspan="2">
	<img src="http://139edm.com/5/images/link.png" alt="分隔线" width="591" height="2" style="border:none;" />
    </td>
  </tr>
  <tr>
      <td align="left" valign="top" style="padding:20px 0px 0 25px" width="220" >
<a href="" target="_blank"><img src="http://139edm.com/5/images/pe.png" alt="产品图片" width="180" height="150" style="border:none" /></a>
    </td>
    <td align="left" valign="top"  style="padding:20px 25px 0 0px">
    <h1 style="normal;font-family: 微软雅黑; font-size:16px; color:#414141; line-height:32px; margin:0; padding:0;">期刊标题（内容2）</h1>
    <p style="font-weight: normal;font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0;  padding:10px 0 0 0;">
    在此处编写邮件正文（可通过一些经典案列或其他用户成功使用的例子说明和推广您的产品和服务）。您可以邀请您的客户编写一些他们使用产品和服务的感受，全面展示和推介您的产品。<br>
	</p>
    <p style="font-weight: normal;font-family: 宋体; font-size:12px; color:#595757; line-height:18px; margin:0; padding:10px 0 0 0;">
	建议在结尾添加一个"更多精彩阅读"的链接到您的网站（此链接可被跟踪记录，可以在报告中了解点击率。
	</p>
    </td>
  </tr>
</table>





<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="关于我们"  >
  <tr>
    <td style="padding:20px 20px 25px 20px;">
    <h1 style="font-weight: normal;font-family: 宋体; font-size:14px; color:#000; line-height:26px; margin:0; padding:0 0 0 10px; background-color:#A9A9A9;">关于我们</h1>
    
    <p style="font-family: 宋体; font-size:12px; color:#333; line-height:18px;margin:0; padding:20px 0">您可以在本版块加入公司的简介和表示感谢的结束语。</p>
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">签名</h1>
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">公司名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#333; line-height:18px;margin:0; padding:5px 0 0 0">
    此处建议加入联系人的姓名，公司名称。（您可以通过左边菜单栏的"公司属性"添加功能，插入命令，系统将在生成邮件时自动把您注册时的联系人姓名，公司名称等属性显示在您插入命令的位置）
    </p>

    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="版本信息" bgcolor="#262626"  >
  <tr>
    <td width="110" valign="bottom" style="padding:20px 0 20px 20px;">
   		<img src="http://139edm.com/5/images/foot_img2.png" alt="电子期刊2" width="88" height="86" />
    </td>
    <td style="padding:20px 20px 20px 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#C9C9CA; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>

</td>
</tr>
  
</table>




</body>
</html>
