<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
<title>Mtarget平台系统模板</title>
<link rel="stylesheet" href="http://139edm.com/form/orange/styles/common.css">
<link rel="stylesheet" href="http://139edm.com/form/orange/styles/layout.css">
</head>
<body>
<div id="page">
   <div id="header">
   <img src="http://139edm.com/form/orange/images/logo.jpg" alt="" width="241" height="79">
   </div>
   <!--header end-->
   <div class="content">
      <div class="warp">
      	<form id="tempForm" method="post" class="edm_sys_form">
            <h2 class="f60 fwei orange" align="center">Hello !</h2>
            <p class="f14 fwei" align="center">欢迎您订阅Mtarget的服务资讯，请填写以下信息完成订阅！</p> 
            <div class="login f14 regsiter">
                <ul id="hook">
                    <li>
						<span>邮箱</span><strong>*</strong>
						<input type="text" class="input_01 CCmingcheng" data-req="required" name="email" title="邮箱">
                    </li>
                </ul>
            </div>
            <!--login end-->
            <div class="btn_01 fwei"><a href="javascript:void(0)" id="smt">订　　阅</a></div>
            </form>
      </div>
      <!--warp end-->
</div>
<!--content end-->
<div id="footer" class="fwei">mtarget.cn   隐私与服务协议  反垃圾邮件政策  京ICP备11035441号</div>
</div>
<script src="http://139edm.com/form/jquery-1.7.1.min.js"></script> 
<script src="http://139edm.com/form/menu.js"></script>
</body>
</html>