<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Mtarget平台系统模板</title>
<link rel="stylesheet" href="http://139edm.com/form/green/styles/common.css">
<link rel="stylesheet" href="http://139edm.com/form/green/styles/layout.css">
</head>
<body>
<div id="page">
   <div id="header">
   <img src="http://139edm.com/form/green/images/logo.jpg" alt="" width="241" height="79">
   </div>
   <!--header end-->
   <div class="content">
      <div class="warp">
      	<form id="tempForm" method="post" class="edm_sys_form">
           <div class="title"><h2 class="f60 fwei gary icon_01">Hello !</h2></div>
            <div class="blank20"></div>
            <p class="f14 fwei" align="center">欢迎您注册Mtarget，请填写以下注册信息完成注册！</p>
            <div class="login f14 regsiter">
                <ul id="hook">
                    <li>
						<span>邮箱</span><strong>*</strong>
						<input type="text" class="input_01 CCmingcheng" data-req="required" name="email" title="邮箱">
                    </li>
                </ul>
                <div class="blank10"></div>
                <div class="btn_02 fwei"><a href="javascript:void(0)" id="smt">&nbsp;</a></div>
            </div>
            <!--login end-->
           </form>
      </div>
      <!--warp end-->
</div>
<!--content end-->
<div id="footer" class="fwei">mtarget.cn   隐私与服务协议  反垃圾邮件政策  京ICP备11035441号</div>
</div>
<script src="http://139edm.com/form/jquery-1.7.1.min.js"></script> 
<script src="http://139edm.com/form/menu.js"></script>
</body>
</html>