<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Mtarget平台系统模板</title>
<link rel="stylesheet" href="http://139edm.com/form/blue/styles/common.css">
<link rel="stylesheet" href="http://139edm.com/form/blue/styles/layout.css">
</head>
<body>
<div id="page">
   <div id="header">
   <img src="http://139edm.com/form/blue/images/logo.jpg" alt="" width="241" height="79">
   </div>
   <!--header end-->
   <div class="content">
      <div class="warp">
           <div class="blank60"></div>
            <h2 class="f40 fwei blue" align="center">成功提交！</h2>
            <div class="blank20"></div>
            <p class="f14 fwei" align="center">感谢您订阅Mtarget的服务信息，我们为及时为您传递最新资讯。</p>
            <div class="blank100"></div>
            <div class="btn_01 fwei"><a class='edm_close_btn' href="#">关　　闭</a></div>
      </div>
      <!--warp end-->
</div>
<!--content end-->
<div id="footer" class="fwei">mtarget.cn   隐私与服务协议  反垃圾邮件政策  京ICP备11035441号</div>
</div>
<script src="http://139edm.com/form/jquery-1.7.1.min.js"></script> 
<script src="http://139edm.com/form/menu.js"></script>
</body>
</html>