
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Mtarget平台系统</title>
</head>
<body>
<table width="780" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0;">
<tr style="border-bottom:2px solid #45b854;">
   <td>&nbsp;</td>
   <td><img src="http://139edm.com/form/green/images/logo.jpg" alt="" width="241" height="79" border="0" style="display:block;  margin:5px 0 10px 0;"/></td>
</tr>
<tr>
   <td colspan="2"><img src="http://139edm.com/form/green/images/index_03.jpg" alt="" width="780" height="111" border="0" style="display:block;"/></td>
</tr>
<tr>
  <td colspan="2">
      <table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="border:1px solid #d0d9e4; color:#728398; line-height:30px; font-size:14px; font-family:微软雅黑;">
            <tr>
              <td width="18">&nbsp;</td>
              <td width="673">&nbsp;</td>
              <td width="27">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><span style="color:#45b854; font-size:18px;">尊敬的用户：</span><br>
　　感谢您订阅Mtarget的服务资讯，我们及时为您传递新鲜的业内信息！<br>
　　祝您体验愉快！<br></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align="right">Mtarget</td>
              <td>&nbsp;</td>
            </tr>
          </table>
       
  </td>
</tr>
<tr>
  <td colspan="2" height="10"></td>
</tr>
<tr>
    <td width="35">&nbsp;</td>
    <td width="745" class="text" style="color:#c7d3e2; font-size:12px;"> Mtarget客服邮箱：service@mtarget.cn，如有需要可联系客服。</td>
</tr>
<tr>
  <td colspan="2" height="120">&nbsp;</td>
</tr>
<tr>
  <td colspan="2" height="40" class="text" align="center" style="border-top:2px solid #cad1d9;color:#c7d3e2; font-size:12px;">Mtarget.cn  隐私与服务协议  反垃圾邮件政策  京ICP备11035441号</td>
</tr>
</table>                

</body>
</html>
