<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Mtarget平台系统</title>
</head>
<body>
<table width="780" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0;">
<tr style="border-bottom:1px solid #00a0e9;">
   <td>&nbsp;</td>
   <td><img src="http://139edm.com/form/blue/images/logo.jpg" alt="" width="241" height="79" border="0" style="display:block;  margin:5px 0 10px 0;"/></td>
</tr>
<tr>
  <td colspan="2">
      <table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="color:#6b6b6b; line-height:40px; font-size:14px; font-family:微软雅黑;">
            <tr>
              <td width="18">&nbsp;</td>
              <td width="673">&nbsp;</td>
              <td width="27">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><span style="color:#3595e5; font-size:18px;">尊敬的用户：</span><br>
　　感谢您对Mtarget的支持，您已成功注册成为Mtarget的会员！<br>　　请您牢记自己的用户名和密码，如忘记请在登录页通过&ldquo;忘记密码&rdquo;找回。<br>
　　Mtarget客服邮箱：service@mtarget.cn，如有需要可联系客服。
　</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" height="60"></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align="right">祝您体验愉快！</td>
              <td>&nbsp;</td>
            </tr>
          </table>
       
  </td>
</tr>
<tr>
  <td colspan="2" height="80">&nbsp;</td>
</tr>
<tr>
  <td colspan="2" height="75" class="text" align="center" style="border-top:1px solid #cad1d9;color:#6b6b6b; font-size:12px;">Mtarget.cn  隐私与服务协议  反垃圾邮件政策  京ICP备11035441号</td>
</tr>
</table>                

</body>
</html>
