<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订单</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto;font-size:12px;font-family: 宋体;">
  <tr>
    <td class="draggable_div" >

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="公司LOGO" bgcolor="#23B5D7" style="background: url(http://139edm.com/7/images/bg1.png) no-repeat right bottom; background-color:#23B5D7;">
  <tr>
    <td width="110" style="padding:20px 0 20px 20px"><a href=""><img src="http://139edm.com/7/images/logo.png" alt="logo" width="102" height="30" style="border:none" /></a></td>
    <td valign="bottom" style="padding:20px 0 15px 0px">
    <h3 style="font-family: 微软雅黑; font-size:18px; color:#000; line-height:30px; margin:0; padding:0;font-weight: normal;">您已成功预订某酒店北京某地分店！</h3>
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="用户信息" style="background: url(http://139edm.com/7/images/bg2.png) no-repeat right top; background-color:#E2E2E2;"  bgcolor="#E2E2E2" >
  <tr>
    <td style="padding:25px;">
   		<h1 style="font-family: 微软雅黑; font-size:16px; color:#000; line-height:30px; margin:0; padding:0">尊敬的客户</h1>
        <p style="font-family: 宋体; font-size:12px; color:#000; line-height:22px;margin:5px 0 0 0; padding:0">
        此处致欢迎词，欢迎成为您的新客户。可以适当加入您的产品和服务前景描述，增强用户信心和好感度。<br>
		关于您已成功预订预订某酒店北京某地分店的确认信息 
        </p>
<p style="font-family: 宋体; font-size:12px; color:#000; line-height:22px;margin:20px 0 0 0; padding:0">
您的订单已预订成功，详细信息：<br>
订单号：<span style="color:#FF3131;font-weight: bold;">1610291</span><br>
联系人姓名：张三<br>
入住日期(Check-in)：年月日<br>
离店日期(Check-out)：年月日<br>
房间类型：商务大床房<br>
房间数量：1间 <br>
详细服务内容：瓶装水3瓶,营养早餐3份,生活用品包3份<br>
生活用品：( ) <br>
总价：<span style="color:#FF3131;font-weight: bold;">741元</span> 
</p>
<p style="font-family: 宋体; font-size:12px; color:#000; line-height:22px;margin:20px 0 0 0; padding:0">
地址：详细地址信息<br>
酒店电话：020-999999999<br>
网站预订：www.vvvvvvvvv.com 
</p>
    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="公司信息"  bgcolor="#E2E2E2" >
  <tr>
    <td style="padding:25px;">
   	<h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0">签名</h1>
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:22px; margin:0; padding:0">公司名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#666; line-height:18px;margin:5px 0 0 0; padding:0">此处建议加入联系人的姓名，公司名称。（您可以通过左边菜单栏的"公司属性"添加功能，插入命令，系统将在生成邮件时自动把您注册时的联系人姓名，公司名称等属性显示在您插入命令的位置）</p>
 
    </td>
  </tr>
</table>

</td>
</tr>

<tr>
    <td class="draggable_div" >
    
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="版本信息" bgcolor="#1E1E1E" style="border-top: 6px solid #23B5D7;">
  <tr>
    <td width="110" valign="bottom" style="padding:10px 0 0 20px;">
   		<img src="http://139edm.com/7/images/foot_img2.png" alt="订单" width="133" height="99" />
    </td>
    <td style="padding:10px 20px 0 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#7B7B7B; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>

</td>
  </tr>    
</table>




</body>
</html>
