<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>简单订单</title>
</head>

<body>

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="width:650px; margin:0 auto;font-size:12px;font-family: 宋体;;border: 1px solid #242424;">
  <tr>
    <td class="draggable_div"  >


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="公司LOGO" >
  <tr>
    <td align="left"  style="padding:20px"><a href="" target="_blank"><img src="http://139edm.com/9/images/logo.png" alt="logo" width="102" height="30" style="border:none" /></a></td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="客户信息"  >
  <tr>
    <td align="center"  style="padding:0 20px">
    <h1 style="font-weight: normal;font-family: 微软雅黑; font-size:24px; color:#000; line-height:26px; margin:0 0 20px 0; padding:0;">某某客户，您好！</h1>
    </td>
  </tr>
  <tr>
    <td align="left"  style="padding: 0 20px" >
    <p style="font-weight: normal;font-family: 宋体; font-size:12px; color:#000; line-height:26px; margin:0; padding:10px 20px; background-color:#709C2B">
    某公司已收到您于某年某月某日，提交的订单：  <span style="color:#FFF;font-weight: bold;">123456789</span>
    <br>我们将及时为您处理，预计什么时间从哪里发货。
    </p>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="亲爱的客户"  >
  <tr>
    <td style="padding:20px 20px 25px 20px;">
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">亲爱的客户：</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px;margin:0; padding:5px 0 0 0">
    在此描述商品或服务所需费用：<span style="color:#B00000;font-weight: bold;">￥200.00</span><br>
    您可以随时进入订单详情页面查看订单的后续处理情况。链接：<a href="http://www.mtargeting.com/" target="_blank">www.mtargeting.com</a>
    </p>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="重要声明"  >
  <tr>
    <td style="padding:0px 20px 25px 20px;">
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px;margin:0; padding:5px 0 0 0">
    <span style="color:#000;font-weight: bold;">重要声明 ：</span>此处发表您的声明内容，例如：此封电子邮件仅确认我们已收到了您的订单，只有当我们向您发出商品出库的电子邮件通知您我们已将商品发出时，我们和您之间的订购合同才成立。如果您在一笔订单里订购了多种商品，而我们只给您发出了其中一部分商品出库的电子邮件，那么只有这部分商品的订购合同成立；直到我们向您发出其他商品出库的电子邮件，您关于其他商品的订购合同才成立。
    </p>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="关于我们"  >
  <tr>
    <td style="padding:0px 20px 25px 20px;">
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">签名</h1>
    <h1 style="font-family: 宋体; font-size:12px; color:#000; line-height:20px; margin:0; padding:0">公司名称</h1>
    <p style="font-family: 宋体; font-size:12px; color:#595757; line-height:18px;margin:0; padding:5px 0 0 0">
    此处建议加入联系人的姓名，公司名称。（您可以通过左边菜单栏的"公司属性"添加功能，插入命令，系统将在生成邮件时自动把您注册时的联系人姓名，公司名称等属性显示在您插入命令的位置）
    </p>

    </td>
  </tr>
</table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="draggable" title="版本信息" bgcolor="#242424"  >
  <tr>
    <td width="110" valign="bottom" style="padding:20px 0 20px 20px;">
   		<img src="http://139edm.com/9/images/foot_img2.png" alt="简单订单" width="81" height="83" />
    </td>
    <td style="padding:20px 20px 20px 0px;">
        <p style="font-family: 宋体; font-size:12px; color:#B4B4B4; line-height:18px;margin:0; padding:0">
        此区域可以加入您公司的一些活动、产品和服务的优惠信息、优惠券。添加相关活动的细则和条件，如：活动代码，使用期限，数量及时间的限制等。建议加一个您网站的链接以便客户找到更多信息，这样也有助于您网站的推广。
        </p>
    </td>
  </tr>
</table>

</td>
</tr>
  
</table>




</body>
</html>
