<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<#include "/common/meta.html" />
<title>${pageTitle} - 模板</title>
<#include "/common/css.html" />
<#include "/common/js.html" />
<script src="${ctx}/static/js/common/Mselect.js?${version}"></script>
<script src="${ctx}/static/js/kindeditor-4.1.10/kindeditor.js?${version}"></script>
<script src="${ctx}/static/js/kindeditor-4.1.10/lang/zh_CN.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/mailing.template.common.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/mailing.template.add.js?${version}"></script>
<script type="text/javascript">
	var fileServer = "${fileServer?if_exists}";
	var corpId = "${corpId?if_exists}";
	var appUrl = "${appUrl}";
	var category_list = new Array(<#list categoryList as c>[${c.categoryId}, "${xss.filter(c.categoryName)}"]<#if c_has_next>,</#if></#list>);
	
	var prop_list = new Array(
	<#if propListOfOne??>
		<#list propListOfOne as p>
		["$${xss.filter(p.propName)}$", "${xss.filter(view.prop_name(p.propName))}"]<#if p_has_next>,</#if>
		</#list>
	</#if>
	);
	
	var many_list = new Array(
		<#if propListOfMany??>
		<#list propListOfMany as p>
		["$${xss.filter(p.propName)}$", "${xss.filter(view.prop_name(p.propName))}"]<#if p_has_next>,</#if>
		</#list>
		</#if>
	);
	
	var rcmCateData = new Array(
	<#assign i = 0 />
	<#list recommendMap?keys as k>
	["${i}","${xss.filter(k)}"]<#if k_has_next>,</#if>
	<#assign i = i + 1 />
	</#list>
	);
	
	var rcmTempData = {
		<#assign i = 0 />
		<#list recommendMap?keys as k>
		"${i}": [
			<#list recommendMap[k] as t>
			{"id": ${t.templateId}, "title": "${xss.filter(t.templateName)}"}<#if t_has_next>,</#if>
			</#list>
		]<#if k_has_next>,</#if>
		<#assign i = i + 1 />
		</#list>
	};
	
	var hisTempData = [
		<#list templateList as t>
		{"id": ${t.templateId}, "title": "${xss.filter(t.templateName)}"}<#if t_has_next>,</#if>
		</#list>
	];
	
	var hisPhoneData = [
     	<#list adapterList as t>
     	{"id": ${t.templateId}, "title": "${xss.filter(t.templateName)}"}<#if t_has_next>,</#if>
     	</#list>
     ];
	
	var K = null;
	var K1 = null;
	var eModel = "${attrs.editor?default('WYSIWYG')}"; 
	var eModelPhone = "${attrs.editorPhone?default('WYSIWYG')}"; 
	
	var codeResource=null;
	var codeModel="UTF8";
	
	var form_list = new Array(
	<#if formList?? && formList?size gt 0>
	<#list formList as f>
		["${appUrl}/form/input?id=${f.formId}&r=${f.randCode}&m=$iedm_to$", "${f.formName}"]<#if f_has_next>,</#if>
	</#list>
	</#if>
	); 
	
	var trig_list = [];		
	var subtemp_list = [
	            <#list touchTemplateList as t>
				{"id": ${t.templateId}, "title": "${t.templateName}", "subject": "${t.subject}"}<#if t_has_next>,</#if>
				</#list>
		];
	
	var init_trig_num = trig_num = ${settingSize};

</script>
</head>
<body>
	<#include "/top.html" />
	<div id="wrapper" class="clearfix ">
	<#include "/left.html" />
	<div id="main"  class="clearfix">
		<h1 class="title border_b"><#if template.templateId??>修改<#else>新建</#if>模板</h1>
		<form id="add" action="add" method="post" autocomplete="off">
			<input type="hidden" name="token" value="${token}" />
			<input type="hidden" name="editor" value="${attrs.editor}" />
			<input type="hidden" name="editorPhone" value="${attrs.editorPhone}" />
			<input type="hidden" name="editorMessage" value="${attrs.editorMessage}" />
			<input type="hidden" id="categoryId" name="categoryId" value="${template.categoryId}" />
			<input type="hidden" name="templateId" value="${template.templateId}" />
			<input type="hidden" name="orgTemplateName" value="${xss.filter(template.templateName)}" />
			<input type="hidden" name="next" value="off" />
			<#if attrs.personal == "true" || settingSize gt 0>
            	<#assign opt_css = "display: table;" />
            	<#assign swt_css = "swtpand" />
            </#if>
            
            <#if phoneAttrs.personal == "true">
            	<#assign opt_phone_css = "display: table;" />
            	<#assign swt_phone_css = "swtpand" />
            </#if>
            
			<table border="0" cellspacing="0" cellpadding="0" class="IE6_table m_t20">
				<tr class="fixed_tr">
					<td width="90" align="right">模板名称：</td>
					<td width="10" class="red">*</td>
					<td>
						<input type="text" name="templateName" value="${xss.filter(template.templateName)}" maxlength="20" style="width:480px" />
						<a href="${ctx}/download?t=template.design" class="highlight f_r">下载邮件模板制作标准>></a>
					</td>
				</tr>
				<tr class="fixed_tr">
					<td align="right">模板类别：</td>
					<td width="10" class="red">*</td>
					<td>
						<a id="category_list" class="a_select" style="width:470px;" href="javascript:void(0)"></a>
					</td>
				</tr>
				<tr class="fixed_tr">
					<td align="right">邮件主题：</td>
					<td width="10" class="red">&nbsp;</td>
					<td>
						<input type="text" name="subject" value="${xss.filter(template.subject)}" maxlength="100" style="width:480px" />
					</td>
				</tr>
				<tr>
					<td align="right">终端类型：</td>
					<td width="10" class="red">&nbsp;</td>
					<td>
						<#assign phoneChecked = "" />
						<#assign smsChecked = "" />
						<#if adapter.joinPhone?? && adapter.joinPhone == 1>
							<#assign phoneChecked = "checked='checked'" />
						</#if>
						<#if adapter.joinSms?? && adapter.joinSms == 1>
							<#assign smsChecked = "checked='checked'" />
						</#if>
						<#assign disabled = "">
						<#if template.templateId??>
							<#assign disabled = "disabled='true'">
						</#if>
						<input type="checkbox" class="ckbox" value="pc" id="pc_cb" checked="checked" disabled="true" /><label for="pc_cb" class="j_lb"><span class="zd-tips">PC(800px)</span></label>
						<input type="checkbox" class="ckbox" value="phone" id="ph_cb" ${phoneChecked} ${disabled}/><label for="ph_cb" class="j_lb"><span class="zd-tips">PHONE（320px）</span></label>
						<input type="checkbox" class="ckbox" value="dx" id="dx_cb" ${smsChecked} ${disabled}/><label for="dx_cb" class="j_lb"><span class="zd-tips">短信（139域回复A）</span></label>
						<input type="hidden" name="joinPhone" value="${adapter.joinPhone?default(0)}" id="joinPhone" />
						<input type="hidden" name="joinSms" value="${adapter.joinSms?default(0)}" id="joinSms"/>
					</td>
				</tr>
		
			</table>
			<table id="tb-wrap">
				<tr>
					<td align="right"></td><td width="20px;" class="red"></td>
					<td>选择邮件可呈现的多个终端模板，编辑后不可增删。</td>
				</tr>
				<tr>
					<td align="right"></td><td width="20px;" class="red"></td>
					<td>
						<ul class="f_ul">
                           <li><input class="input_yes" type="button" id="jbj" value="+编辑模板"></li>
                           <li><input class="input_no" type="button" onclick="window.location.assign('/mailing/template/page');" value="取消"></li>
                       </ul>
					</td>
				</tr>
			</table>
			<div class="tab-wrap">
				<ul class="tab clearfix cq-tab" id="cq_tab">
					<li id="pc" class="now"><a href="javascript:void(0)">PC</a></li>
					<li id="phone"><a href="javascript:void(0)">PHONE</a></li>
					<li id="dx"><a href="javascript:void(0)">短信</a></li>
				</ul>
			</div>
	
	<div class="tab-main-wrap" id="tab-main-wrap">
	   <ul id="tabMain">
		   <li class="tabLi">
			   	<div class='temp_tit'>
					<a id="senderMore" class="swtbtn swtclose" href="javascript:void(0)">高级选项</a>
				</div>
				<table id="advancedOption" border="0" cellspacing="0" cellpadding="0" class="IE6_table" style="${opt_css?default('display: none;')}">
					<tr class="fixed_tr">
						<td width="90" align="right">变量设置：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<a class="a_select wd150" id="open_paramBox" href="javascript:void(0)">插入单数据属性</a><a class="a_select wd150" id="open_manyBox" href="javascript:void(0)">插入多数据属性</a>
						</td>
					</tr>
					<tr class="fixed_tr J_notrig_area">
						<td  width="90" align="right">表单设置：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<a class="a_select f_l wd_long" id="form_list" href="javascript:void(0)">插入表单链接</a>
							<div class='f_l'>
								<span class="tips_trg">
		                   			<span class="question"><a href="javascript:void(0)" class="highlight">帮助</a></span>
			                   		<div class="global_tips">
										<p>
											在模板的编辑界面上，选中需要插入表单链接的内容，然后再”插入表单链接“的下拉菜单，选择对应的表单名称，即可为选中内容添加指定表单的链接
										</p>	
									</div>
		                   		</span>
		                   	</div>	
						</td>
					</tr>
					<tr class="fixed_tr J_notrig_area">
						<td  width="90" align="right">触发计划：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<a class="a_select f_l wd_long"  href="javascript:openTrigPad();">触发条件</a>
							<span class="tips_trg">
	                   			<span class="question"><a href="javascript:void(0)" class="highlight">帮助</a></span>
		                   		<div class="global_tips">
									<p>将模板中可点击的链接设置为触点，并指定对应的邮件任务。即当收件人点击对应的触点后，可自动触发已设置好的邮件任务，完成营销反馈或二次营销。注意：此功能需在IE9及以上版本的浏览器中使用。</p>						
								</div>
	                   		</span>
						</td>
					</tr>
					<tr class="fixed_tr">
						<td  width="90" align="right">表格设置：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<a class="a_select f_l wd_long"  href="javascript:openPop(0,0,'#remindMul');;">插入多数据表格</a>
							<span class="tips_trg">
	                   			<span class="question"><a href="javascript:void(0)" class="highlight">帮助</a></span>
		                   		<div class="global_tips">
									<p>
										多数据表格主要用于具有多维度数据需求的表格，如账单详情列表，或各类多行数据的查询信息表格。<br>
										表格默认显示2行，第一行：表格主题，可手动更改项目标题，第二行：表格数据，需在"变量设置"处手动插入"多数据属性"。表格会自动根据多数据属性下对应的多个数值，显示对应的表格行数。
									</p>						
								</div>
	                   		</span>
						</td>
					</tr>
					<tr class="fixed_tr">
						<td align="right">链接设置：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
	                   		<#assign personalChecked = "">
	                   		<#if attrs.personal == "true">
	                   			<#assign personalChecked = "checked='checked'">
	                   		</#if>
	                   		<label><input type="checkbox" id="chbox" onclick="zcUtil.personSwitch(this)" name="personal" value="${attrs.personal?default('false')}" ${personalChecked} />&nbsp;支持链接个性化</label>
	                    	<span class="tips_trg">
	                   			&nbsp;&nbsp;<span class="question"><a href="javascript:void(0)" class="highlight">帮助</a></span>
		                   		<div class="global_tips">
									<p>链接个性化，指通过在链接地址中插入变量( 编辑器须切换到文本输入模式，在href和src属性中插入 )，使不同的收件人点击模板同个位置的链接去到各自不同的链接页面，帮助实现个性化营销。</p>
									<p style='margin-top: 7px'>选择“是”，模板在封装加密上会保留对链接地址的变量处理，以实现个性化链接，选择“否”则不作处理。	</p>						
								</div>
	                   		</span>
						</td>
					</tr>
				</table>
				<table border="0" cellspacing="0" cellpadding="0" class="IE6_table">
					<tr>
						<td style="border:1px solid #aaa">
							<div class="ribbon clearfix" id="userPanel">
								<ul class="btn f_r">
									<#assign header_checked = "" />
									<#assign footer_checked = "" />
									<#if page_header?? && page_header == "on">
										<#assign header_checked = "checked='checked'" />
									</#if>
									<#if page_footer?? && page_footer == "on">
										<#assign footer_checked = "checked='checked'" />
									</#if>
									<li><input type="checkbox" class="checkbox2 f_l" id="pageHeader" name="pageHeader" value="1" ${header_checked} /><label for="pageHeader">&nbsp;页眉</label></li>
									<li><input type="checkbox" class="checkbox2 f_l" id="pageFooter" name="pageFooter" value="1" ${footer_checked} /><label for="pageFooter">&nbsp;页脚</label></li>
									<li style="margin-top:3px;*margin-top:1px;">
										<a id="workMode" class="a_select b_select" style="width:72px; line-height:22px;" href="javascript:void(0)">切换模式</a>
									</li>
								</ul>
								<div class="f_l">
									<ul class="btn btn_spe">
										<li><a href="javascript:open_msg('snatch', 0);" class="btn_icon btn_icon_web">抓取网页</a></li>
										<li><a href="javascript:open_msg('file', 0);" class="btn_icon btn_icon_imp">导入文件</a></li>
										<li><a href="javascript:openSysTemp()" class="btn_icon btn_icon_syst">模板推荐</a></li>
										<li><a href="javascript:openHisTemp();" class="btn_icon btn_icon_hist">历史模板</a></li>								
									</ul>
								</div>
							</div>
							<textarea class="textarea spe_area" id="templateContent" name="templateContent" style='width:100%; height:360px; border:none; padding:5px 0;'>${template.templateContent
	?default("请输入模板内容")}</textarea>
						</td>
					</tr>
					
				</table>
			</li>
		   	<li class="tabLi">
		   		<div class='temp_tit'>
					<a id="phone_senderMore" class="swtbtn swtclose" href="javascript:void(0)">高级选项</a>
				</div>
					<table id="phone_advancedOption" border="0" cellspacing="0" cellpadding="0" class="IE6_table" style="${opt_phone_css?default('display: none;')}">
					<tr class="fixed_tr">
						<td  width="90" align="right">变量设置：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<a class="a_select wd150" id="phone_open_paramBox" href="javascript:void(0)">插入单数据属性</a><a class="a_select wd150" id="phone_open_manyBox" href="javascript:void(0)">插入多数据属性</a>
						</td>
					</tr>
					<tr class="fixed_tr J_notrig_area">
						<td  width="90" align="right">表单设置：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<a class="a_select f_l wd_long" id="phone_form_list" href="javascript:void(0)">插入表单链接</a>
							<div class='f_l'>
								<span class="tips_trg">
		                   			<span class="question"><a href="javascript:void(0)" class="highlight">帮助</a></span>
			                   		<div class="global_tips">
										<p>
											在模板的编辑界面上，选中需要插入表单链接的内容，然后再”插入表单链接“的下拉菜单，选择对应的表单名称，即可为选中内容添加指定表单的链接
										</p>	
									</div>
		                   		</span>
		                   	</div>	
						</td>
					</tr>
					<tr class="fixed_tr">
						<td  width="90" align="right">表格设置：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<a class="a_select f_l wd_long"  href="javascript:openPop(0,0,'#remindMul');;">插入多数据表格</a>
							<span class="tips_trg">
	                   			<span class="question"><a href="javascript:void(0)" class="highlight">帮助</a></span>
		                   		<div class="global_tips">
									<p>
										多数据表格主要用于具有多维度数据需求的表格，如账单详情列表，或各类多行数据的查询信息表格。<br>
										表格默认显示2行，第一行：表格主题，可手动更改项目标题，第二行：表格数据，需在"变量设置"处手动插入"多数据属性"。表格会自动根据多数据属性下对应的多个数值，显示对应的表格行数。
									</p>						
								</div>
	                   		</span>
						</td>
					</tr>
					<tr class="fixed_tr">
						<td align="right">链接设置：</td>
						<td width="10" class="red">&nbsp;</td>
						<td>
							<#assign personal_true = "" />
							<#assign personal_false = "checked='checked'" />
	                   		<#if attrs.personal == "true">
		                   		<#assign personal_true = "checked='checked'" />
								<#assign personal_false = "" />
	                   		</#if>
	                   		<#assign phonePersonalChecked = "">
	                   		<#if phoneAttrs.personal == "true">
	                   			<#assign phonePersonalChecked = "checked='checked'">
	                   		</#if>
	                   		<label><input type="checkbox" id="ph_checkbox" onclick="zcUtil.personSwitch(this)" name="phonePersonal" value="${phoneAttrs.personal?default('false')}" ${phonePersonalChecked} />&nbsp;支持链接个性化</label>
	                    	<span class="tips_trg">
	                   			&nbsp;&nbsp;<span class="question"><a href="javascript:void(0)" class="highlight">帮助</a></span>
		                   		<div class="global_tips">
									<p>链接个性化，指通过在链接地址中插入变量( 编辑器须切换到文本输入模式，在href和src属性中插入 )，使不同的收件人点击模板同个位置的链接去到各自不同的链接页面，帮助实现个性化营销。</p>
									<p style='margin-top: 7px'>选择“是”，模板在封装加密上会保留对链接地址的变量处理，以实现个性化链接，选择“否”则不作处理。	</p>						
								</div>
	                   		</span>
						</td>
					</tr>
				</table>
				<table border="0" cellspacing="0" cellpadding="0" class="IE6_table">
					<tr>
	
						<td style="border:1px solid #aaa">
							<div class="ribbon clearfix" id="userPanel">
								<ul class="btn f_r">
									<#assign phone_header_checked = "" />
									<#assign phone_footer_checked = "" />
									<#if phone_page_header?? && phone_page_header == "on">
										<#assign phone_header_checked = "checked='checked'" />
									</#if>
									<#if phone_page_footer?? && phone_page_footer == "on">
										<#assign phone_footer_checked = "checked='checked'" />
									</#if>
									<li><input type="checkbox" class="checkbox2 f_l" id="pagePhoneHeader" name="pagePhoneHeader" value="1" ${phone_header_checked} /><label for="pagePhoneHeader">&nbsp;页眉</label></li>
									<li><input type="checkbox" class="checkbox2 f_l" id="pagePhoneFooter" name="pagePhoneFooter" value="1" ${phone_footer_checked} /><label for="pagePhoneFooter">&nbsp;页脚</label></li>
									<li style="margin-top:3px;*margin-top:1px;">
									<#-- 由于phone的切换模式有bug，前端未修复，要求先屏蔽
										<a id="phone_workMode" class="a_select b_select" style="width:72px; line-height:22px;" href="javascript:void(0)">切换模式</a>
										-->
										<a id="phone_workMode" class="a_select b_select" style="width:72px; line-height:22px;" href="javascript:void(0)">切换模式</a>
									</li>
								</ul>
								<div class="f_l">
									<ul class="btn btn_spe">
										<li><a href="javascript:open_msg('snatch', 0);" class="btn_icon btn_icon_web">抓取网页</a></li>
										<li><a href="javascript:open_msg('file', 0);" class="btn_icon btn_icon_imp">导入文件</a></li>
										<li><a href="javascript:openPhHisTemp();" class="btn_icon btn_icon_hist">历史模板</a></li>								
									</ul>
								</div>
							</div>
							<textarea class="textarea spe_area" id="phoneContent" name="phoneContent" style='width:100%; height:360px; border:none; padding:5px 0;'>${adapter.phoneContent?default("请输入模板内容")}</textarea>
						</td>
					</tr>
					
				</table>
				
				</li>
			   	<li class="tabLi">
				   	<div class="temp_tit">
				   		<p>请在框内输入回复A获取的短信邮件模板</p>
				   	</div>
					<textarea class="dx_txt" name="smsContent" id="smsContent">${adapter.smsContent?default("请输入模板内容")}</textarea>			
				</li>
			</ul>
				<div class="fixed_foot">
					<table>
						<tr>
							<td>
								<div class="f_l">
									<ul class="btn btn_spe m_t20">
										<li><input type="submit" value="保存" class="input_yes" id="tempSubmit"/></li>
										<li><input type="button" value="预览" class="input_no" onclick="preview();" id="yl_btn"/></li>
										<li><input type="button" value="取消" class="input_no" onclick="openPop(0,0,'#sureOrno');"  /></li>
										<li class="load_img"><img src="/static/img/loading2.gif"  /></li>
									</ul>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="popBox" id="tempSetting" style="display:none;">
				<div class="limiter" style="width:480px">
					<div class="pop_title">触发设置</div>
					<div class="pop_content">
						<p class='m_b10'>选择模板中的链接作为触点，设置点击链接后相应的触发邮件</p>
						<div class='trig_limiter'>
							<#assign i = 0 />
							<#list settingList as s>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<#if i == 1>
								<tr>
									<td colspan="2" style="height: 10px;">
										<p style="border-bottom:1px dashed #A0A0A0;"></p>
									</td>
								</tr>
								</#if>
								<tr>
									<td width="27%">触点链接(可多选)</td>
									<td>
										<textarea id="trig_list_${i}" class="add_area rad_area J_trig_list" style="width:240px;" name="trig_list_${i}" readonly></textarea>
										<input id="trig_list_id_${i}" class="trig_list_id" type="hidden" name="touchUrls_${i}" value="${s.touchUrls}" />
									</td>
								</tr>
								<tr>
									<td width="27%">触发计划的子模板</td>
									<td>
										<textarea readonly="readonly" id="subtemp_list_${i}" class="add_area rad_area J_subtemp_list" style="width:240px;" name="subtemp_list_${i}"></textarea>
										<input id="subtemp_id_${i}" type="hidden" name="templateIds_${i}" value="${s.templateId}" />
									</td>
								</tr>
								<tr>
									<td width="27%">触发投递时间</td>
									<td>
										<input class="input_txt J_trig_time" type="text" id="trig_time_${i}" name="afterMinutes_${i}" value="${s.afterMinutes}" />&nbsp;分钟
									</td>
								</tr>
								<tr>
									<td width="27%">邮件主题</td>
									<td>
										<input class="input_txt J_trig_sub" type="text" maxlength="100" name="subjects_${i}" value="${s.subject}"/>
										<#if i == 0>
										<span class="add_set" title="添加"></span>
										<#else>
										<span title="删除" onclick="del_trig(this)" class="del_set"></span>
										</#if>
									</td>
								</tr>
							</table>
							<#assign i = i + 1 />
							</#list>
						</div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td colspan="2" style="height: 10px;">
									<p style="border-bottom:1px solid #A0A0A0;"></p>
								</td>
							</tr>
							<tr>
								<td width="27%">&nbsp;</td>
								<td>
									<span class="err"></span>
									<ul class="f_ul">
				                        <li><input class="input_yes" type="button" value="确定" onclick="testTrig();"/></li>
				                        <li><input class="input_no" type="button" value="取消设置"  onclick="cancleTrig();" /></li>
				                    </ul>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
	
		</form>
	</div>
	</div>
	<div id="transfer" style="display:none"></div> 
	<div class="select_div"></div>

	<div class="popBox searchBox" id="templateRemind" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:865px;">
			<div class="pop_title">模板推荐</div>
			<div class="pop_content">
				<form id="recommend" action="recommend" method="post">
					<input type="hidden" name="token" value="${token}" />
					<div class="choose_limiter">
						<input type="hidden" name="templateId" value="" />
						<div id="cateWrap" class="temp_item">
							<ul></ul>
						</div>
						<div id="tempWrap" class="temp_item">
							<ul></ul>
						</div>
						<div class="temp_img">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
								<tr>
									<td width="100%" valign="middle" style="height:498px;">
										<img alt="模板" src="/static/img/template/nopic.jpg"/>
									</td>
								</tr>
							</table>											
						</div>		
					</div>
					<div class='cmt_wrap'>
						<input class='input_yes' type="submit" value='确定'/>&nbsp;&nbsp;<input class='input_no' type="button" value='取消' onclick="closeDialog()"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="popBox searchBox" id="historyTemplate" style="display:none">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:360px">
			<div class="pop_title">历史模板</div>
			<div class="pop_content">
				<form id="history" action="history" method="post">
					<input type="hidden" name="token" value="${token}" />
					<input type="hidden" name="templateId" value="" />
					<div class="search_box">
						<input type="text" class="search_input placehold" placeholder="输入搜索关键字" />
					</div>
					<div class="search_result">
					</div>
					<div class="cmt_wrap">
					    <input type="hidden" value="0" name="device"/>
			        	<input class="input_yes" type="submit" value="确定"/>&nbsp;&nbsp;<input class="input_no" type="button" value="取消" onclick="closeDialog();" />
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
		<div class="popBox searchBox" id="ph_historyTemplate" style="display:none">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:360px">
			<div class="pop_title">历史模板</div>
			<div class="pop_content">
				<form id="ph_history" action="history" method="post">
					<input type="hidden" name="token" value="${token}" />
					<input type="hidden" name="templateId" value="" />
					<div class="search_box">
						<input type="text" class="search_input placehold" placeholder="输入搜索关键字" />
					</div>
					<div class="search_result">
					</div>
					<div class="cmt_wrap">
					<input type="hidden" value="1" name="device"/>
			        	<input class="input_yes" type="submit" value="确定"/>&nbsp;&nbsp;<input class="input_no" type="button" value="取消" onclick="closeDialog();" />
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
	<div class="popBox code_tips" id="codeTips" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:250px">
			<div class="pop_title">模板乱码了?点击<a class="highlight" href="javascript:changeTempCode();">切换编码</a>试试</div>
		</div>
	</div>
	
	<div class="popBox searchBox" id="remindParam" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter">
			<div class="pop_title">设计模板</div>
			<div class="pop_content">
				<div class="al_center">
					
				</div>
				<div class='cmt_wrap'>
					<input class='input_yes' type="button" value='确定' onclick="closeDialog();switchParam()" />
					<input class='input_no' type="button" value='继续提交' onclick="closeDialog();$('#add').submit()" />
				</div>
			</div>
		</div>
	</div>
	
	<div class="popBox searchBox" id="remindFilter" style="display:none;">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:420px">
			<div class="pop_title">设计模板</div>
			<div class="pop_content">
				<div class="al_center">	
				</div>
				<div class='cmt_wrap'>
					<input class='input_yes' type="button" value='重新编辑' onclick="closeDialog();$('input[name=next]').val('off')" />
					<input class='input_no' type="button" value='继续操作' onclick="closeDialog();$('input[name=next]').val('on');$('#add').submit()" />
				</div>
			</div>
		</div>
	</div>
	
	<div style="display:none" id="slideTrig" class="searchBox">
		<div style="width:260px" class="limiter">
			<div class="pop_content">
				<div class="search_result"></div>
			</div>
		</div>
	</div>
	
	<div style="display:none;margin-left:-127px;" id="slideLinks" class="searchBox">
		<div style="width:465px" class="limiter">
			<div class="pop_content">
				<div class="search_result"></div>
			</div>
		</div>
	</div>
	
	<div style="display:none;" id="remindTrig" class="searchBox popBox">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:450px">
			<div class="pop_title">设计模板</div>
			<div class="pop_content">
				<div class="al_center">	
				</div>
				<div class='cmt_wrap'>
				</div>
			</div>
		</div>
	</div>

	<div class="popBox searchBox" id="sureOrno" style="display:none">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:360px">
			<div class="pop_title">设计模板</div>
            <div class="pop_content">
				<div class="al_center">你确定取消当前操作吗？</div>
				<div class="cmt_wrap">
					<input type="button" onclick="window.location.assign('/mailing/template/page');" value="确定" class="input_yes">
					<input type="button" onclick="closeDialog();" value="继续操作" class="input_no">
				</div>
			</div>
		</div>
	</div>
	
	<div style="display:none;" id="remindMul" class="searchBox popBox">
		<div class="pop_close">X</div>
		<div class="limiter" style="width:350px">
			<div class="pop_title">插入多属性表格</div>
			<div class="pop_content">
				<form autocomplete="off">
				<div class="al_left">	
					<p>
						表格宽度：<input type="text" style="width:200px" placeholder='请输入整数' id="tbWidth" value="300"/>
						<select name="" id="wdRule" style="height:25px">
							<option value="px" selected="selected">px</option>
							<option value="%">%</option>
						</select>			
					</p>
					<p>表格列数：<input type="text" style="width:200px" placeholder='请输入整数' id="tdSum"/></p>
					<p><span class="Jmul_err red"></span></p>
				</div>
				<div class='cmt_wrap'>
					<input class='input_yes' type="button" value='确定' onclick="insertMul();" />
					<input class='input_no' type="button" value='取消' onclick="closeDialog();" />
				</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
