.inx_top .logo_mi{background:url(../images/login_logo.jpg) no-repeat 0px 0px; display:block; width:203px; height:66px;}
.inx_body{background:#edf3f7;}
.inx_maun{ float:right;padding-top:30px;}
.inx_top{
	margin:0 auto;
	color:#51677e;
	padding-top:10px;
	width:820px;
	height:70px;
	padding-right:10px;
}

.inx_bot a:link,.inx_bot a:hover,.inx_bot a:visited,.inx_bot a:active{font-size:12px;color:#51677e; text-decoration:none; line-height:26px}
.inx_bot a:hover{color:#51677e; text-decoration:underline;line-height:26px}

.inx_bot{line-height:26px;color:#51677e; text-align:center; padding-top:30px;}


.pass_main{
	background:url(../images/pass_main.png) repeat-x;
	height:80px;
}
.pass_maincen{
	margin:0 auto; width:830px;
}
.pass_h1{
	color:#fff;
	font-weight:normal;
	font-size:30px;
	line-height:80px;
}

.pass_cut{
	margin:20px 5px 20px 5px;
	border: 1px solid #D4D4D4;
	background-color: #FFF;
	padding:20px 30px 50px 30px;
}
.pass_cut h1{
	color:#000;
	font-weight:normal;
	font-size:18px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D4D4D4;
	line-height:35px;
}
.pass_cut h1 span{
	color:#798596;
	font-size:12px;
	font-family: "宋体";
}
.pass_cut ul{
	margin:20px;
}
.pass_cut li.f_site12{
	font-size:12px;
	color:#798597;
}
.pass_cut li{
	height:35px;
	line-height:35px;
	font-size:14px;
	float:none;
	font-family: "宋体";
}
.pass_cut li.f_l{
	float:left;
	width:80px;
	text-align:right;
}
.pass_cut li span{
	padding-left:10px;
}
.pass_cut input{
	border: 1px solid #C0C0C0;
	height:26px;
	line-height:26px;
	padding:0 5px;
	width:150px;
}
.pass_cut input.input_err{
	border: 1px solid #ff0000;
}
.pass_cut input#submit{
	border: 0px solid #C0C0C0;
	line-height:35px;
	padding:0;
	height:36px;
	width:100px;
	background-image:url(../images/pass_but1.png);
	color:#FFF;
	font-size:14px;
	font-weight: bold;
}
.pass_cut input#reset{
	border: 0px solid #C0C0C0;
	line-height:35px;
	padding:0;
	height:36px;
	width:100px;
	background-image:url(../images/pass_but2.png);
	color:#FFF;
	font-size:14px;
	font-weight: bold;
	margin-left:20px;
}


#err_404{
	margin-top:20px;
	border: 10px solid #BCCADA;
	background-image: url(../images/err_404.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #5B83A5;
	padding:50px;
}
#err_404 div{
	padding-left:260px;
	padding-top:60px;
	background-image: url(../images/err_404_div.png);
	background-repeat: no-repeat;
	background-position: 80px 0;
	height:166px;
	color:#FF0;
	font-size:14px;
	line-height:30px;
}
#err_404 div h1{
	color:#FFF;
	font-size: 24px;
	line-height:35px;
}
#err_404 a{
	color:#d7e3f1;
}
#err_404 span{
}

.pagebg{
	background-color: #D7E3F1;
}

.page{
	margin:150px auto 0 auto;
	width:593px;
	padding:0px 20px 80px 20px;
	_padding:20px 20px 80px 20px;
	*padding:20px 20px 80px 20px;
	border: 10px solid #BCCADA;
	background-image: url(../images/err_404.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #5B83A5;
}
.page h1{
	font-size:30px;
	font-weight: normal;
	color:#FFF;
	height:50px;
	line-height:38px;
	background-image: url(../images/page_h1.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	color:#D7E3F1;
}
.page p{
	text-align:center;
	color:#D7E3F1;
	font-size:14px;
	padding:30px 0 40px 0;
}
.page a.but{
	display:block;
	width:108px;
	height:30px;
	line-height:29px;
	text-align:center;
	margin:0 auto;
	font-size:18px;
	color:#2A4766;
	background-color: #BCCADA;
	text-decoration: none;
}
.page h2{
	color:#D7E3F1;
	font-weight: normal;
	font-size:14px;
	padding:0;
	margin:0;
	line-height:35px;
}
.page textarea{
	width:575px;
	height:137px;
	color:#414141;
	margin-bottom:10px;
}
.page input{
	width:123px;
	height:30px;
	line-height:25px;
	text-align:center;
	font-size:18px;
	color:#2A4766;
	background-color: #BCCADA;
	border: 1px solid #BCCADA;
}
.page form{
	color:#2A4766;
	font-size:14px;
}
.page form a{
	color:#BBC9D9;
}


